<div>

    <div class="relative">
        <div>
            <img src="Logoes/vwcar.png" alt="vwcar">
        </div>

        <div class="absolute left-[7%] bottom-[-28%]">
            <img src="Logoes/pv.png" alt="pv">
        </div>
    </div>


    <div class="grid grid-cols-1 xl:grid-cols-[60%_40%] p-[5%] px-[7%] gap-[15px]">

        <div class="space-y-[16px]">
            <div class="bg-[#F6F7F9] gap-[8px] p-[2%]">

                <div class="flex">
                    <div class="font-bold text-[20px]">
                        Sales Executive
                    </div>
                    <div class="rounded-[2px] px-[8px] py-[4px] h-[22px] w-[63px]">
                        <img src="Logoes/derby.png" alt="derby">
                    </div>
                </div>

                <div class="text-[12px]">
                    Parkway Volkswagen
                </div>
                <div class="font-semibold text-[12px]">
                    £25,000 - £58,000 a year
                </div>
            </div>

            <div class="border border-[3px] border-[#F6F7F9] p-[2%] space-y-[10px]">

                <div class="text-[12px] text-[#54585F]">
                    A hugely rewarding role with a very realistic On Target Earnings of £58,000+, uncapped earnings
                    potential and industry-leading company benefits!
                    Due to internal promotions and stock expansion, we have a lucrative opportunity to join our Top
                    Performing Sales Team here at Parkway Volkswagen Derby!
                    You will be responsible for selling both brand new & used vehicles, all the while providing
                    exceptional
                    customer service throughout the customer journey to ensure customer loyalty and referrals.
                    We are looking for that exceptional candidate who embodies exemplary organisation skills and can
                    thrive
                    off pressure in a driven, profit based selling environment!
                    Sales experience isn't necessary, however a drive to succeed along with an entrepreneurial spirit
                    definitely is!
                    A previous commission-based role is preferred, and experience from other industries will always be
                    considered.
                </div>

                <div class="text-[#052B6B] font-semibold text-[14px]">
                    Parkway Volkswagen offers an industry leading earning potential with our top sales executives
                    earning
                    north of £82,000 per annum!
                </div>

                <div class="text-[12px] text-[#54585F]">
                    You will learn from the best in the industry, and a first-class training program is provided with
                    our
                    own Parkway and Volkswagen UK Accreditation. We also offer 24 days holiday entitlement as standard,
                    along with the statutory bank holidays. We have recently introduced a Long Service Holiday
                    Reward where
                    you'll also receive an extra day annual leave for every 2 years of service!
                    The ideal candidate must have a degree of flexibility and be able to work most weekends with days
                    off in
                    the week. We offer a 5.5 day on / 2.5 day off rolling rota to ensure our sales teams get two full
                    days
                    off together with a 1pm start on your first day back to the business. Your usual hours will be
                    08:45am -
                    6:00pm on weekdays with one late day until 7:00pm during the week.
                    To achieve this, you will need to be someone driven to succeed in a target based sales environment,
                    who
                    is prepared to go that extra mile for your customers. Do this, and you will ensure your success in a
                    business that's built on the foundations of rewarding our best people and promoting from within.
                    A company vehicle will also be provided on our heavily subsidised new car scheme, with a brand new
                    Volkswagen every 6 months, and the opportunity for your family to have one too! 
                </div>

                <div class="text-[#052B6B] font-semibold text-[14px]">
                    A full UK driving licence is required for this position.
                </div>

                <div class="text-[#052B6B] font-semibold text-[14px]">
                    If this sounds like the kind of opportunity you can sink your teeth in to then apply today!
                    Immediate
                    start is available!
                </div>


                <div>
                    <p class="text-[14px] text-black font-bold">Job Type:</p>
                    <p class="text-[12px] text-[#54585F]"> Full-time</p>
                    <p class="text-[12px] text-[#54585F]"> Pay: £25,000.00-£58,000.00 per year</p>
                </div>

                <div>
                    <p class="text-[14px] text-black font-bold">Additional pay:</p>
                    <p class="text-[12px] text-[#54585F]">Bonus scheme</p>
                </div>

                <div>
                    <p class="text-[14px] text-black font-bold"> Benefits:</p>
                    <p class="text-[12px] text-[#54585F]"> Company pension</p>
                    <p class="text-[12px] text-[#54585F]">Employee discount</p>
                    <p class="text-[12px] text-[#54585F]"> Free parking</p>
                    <p class="text-[12px] text-[#54585F]"> Referral programme</p>
                    <p class="text-[12px] text-[#54585F]">Work from home</p>
                </div>

                <div>
                    <p class="text-[14px] text-black font-bold">Application question(s):</p>
                    <p class="text-[12px] text-[#54585F]">Why have you applied for this job?</p>
                    <p class="text-[12px] text-[#54585F]">What can you bring to Parkway Volkswagen?</p>
                    <p class="text-[12px] text-[#54585F]">How long will it take you to travel from your home to the site
                        you have applied for?</p>
                </div>

                <div>
                    <p class="text-[14px] text-black font-bold">Work Location:</p>
                    <p class="text-[12px] text-[#54585F]">In person</p>
                </div>

                <div>
                    <p class="text-[14px] text-black font-bold">Reference ID:</p>
                    <p class="text-[12px] text-[#54585F]">SE Derby</p>
                </div>


            </div>
        </div>

        <div class="border border-[3px] border-[#F6F7F9] p-[2%] space-y-[10px] h-[55%]">

            <div class="font-bold text-[34px]">
                Application
            </div>

            <div class="grid grid-cols-[50%_50%]">
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">First Name</p>
                    <input type="text" placeholder="Enter First Name" class="border p-[12px] w-[195px]">
                </div>
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Last Name</p>
                    <input type="text" placeholder="Enter Last Name" class="border p-[12px]">
                </div>
            </div>

            <div class="grid grid-cols-[50%_50%]">
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Email Address</p>
                    <input type="text" placeholder="Enter Email Address" class="border p-[12px] w-[195px]">
                </div>
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Mobile Number</p>
                    <input type="text" placeholder="Enter Mobile Number" class="border p-[12px]">
                </div>
            </div>

            <div class="grid grid-cols-[100%] space-y-[5px]">
                <p class="font-semibold text-[16px]">What would you like us to know about you?</p>
                  <input type="text" placeholder="Enter Subject" class="border px-[12px] pb-[40px] pt-[16px]">
            </div>

            <div class="grid grid-cols-[100%] space-y-[5px]">
                <p class="font-semibold text-[16px]">Resume</p>
                <div class="bg-[#F6F7F9] px-[12px] py-[16px] border border-dotted gray">
                    <p class="font-semibold text-16px text-center">Drop your Resume here or Browse</p>
                    <p class="text-[#54585F] text-[12px] text-center">Max. 5 MB PDF,word file only</p>
                </div>
            </div>

            <div>
                <button class="bg-[#052B6B] px-[12px] py-[17px] mt-[20px] rounded-[8px] text-white w-[50%]">
                    Submit 
                </button>
            </div>

        </div>


    </div>
    


</div>