<div class="flex justify-end items-center h-11 pr-24 space-x-6 w-full bg-blue-800 text-white">
  <!-- Google Rating -->
  <div class="flex items-center space-x-2 border-r border-l pr-6">
    <img src="Logoes/Google.png" alt="Google" class="h-5 w-5">
    <span class="font-medium">Google Rating</span>
    <span class="text-yellow-400 text-sm">★★★★★</span>
  </div>

  <!-- Call Section -->
  <div class="flex items-center space-x-3 mr-6">
    <!-- Phone Icon -->
     <div><img src="Logoes/telephone.png" class="img_phone " /></div>
     
    <!-- <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.86 19.86 0 0 1-8.63-3.13A19.5 19.5 0 0 1 4.21 10.8a19.86 19.86 0 0 1-3.13-8.63A2 2 0 0 1 3.08 0h3a2 2 0 0 1 2 1.72 12.15 12.15 0 0 0 .57 2.57 2 2 0 0 1-.45 2.11L6.1 7.38a16 16 0 0 0 7.52 7.52l1-1.09a2 2 0 0 1 2.11-.45 12.15 12.15 0 0 0 2.57.57A2 2 0 0 1 22 16.92z">
      </path>
    </svg> -->
    <span class="text-sm font-medium text-white"><b>Call Us</b></span>
    <span class="text-sm font-semibold text-white mr-6"><b>+44 (986) 677-638</b></span>
  </div>
</div>


<header class="bg-white border-b border-gray-300 pr-24">
    <div class="max-w-7xl mx-auto  py-3 flex justify-between items-center">
      <!-- Logo and Brand -->
      <div class="flex items-center space-x-3 pl-12">
        <img src="Logoes/Parkway_logo.png" alt="VW Logo" class="h-10 w-[100px]">
        
      </div>

      <!-- Navigation Links -->
      <nav class="hidden md:flex space-x-10  justify-center text-sm text-gray-700">
        <nav class=" hidden md:flex space-x-[90px] text-white text-sm">hh</nav>
       
        <a href="#" class="border-b-2 border-transparent hover:border-blue-600 text-gray-700 hover:text-blue-600 pb-1">Home</a>
        <a href="#" class="hover:border-b-2 border-blue-600 hover:text-blue hover:text-blue-600">New Vehicles</a>
        <a href="#" class="hover:border-b-2 border-blue-600 hover:text-blue hover:text-blue-600">Motability</a>
        <a href="#" class="hover:border-b-2 border-blue-600 hover:text-blue hover:text-blue-600">Motability Offers</a>
        <a href="#" class="hover:border-b-2 border-blue-600 hover:text-blue hover:text-blue-600">New Vehicle Offers</a>
        <a href="#" class="hover:border-b-2 border-blue-600 hover:text-blue hover:text-blue-600">Careers</a>
        
      </nav>


      <!-- Icons -->

      <div class="flex items-center space-x-3">
        <img src="Logoes/Search_icon.png" alt="VW Logo" class="h-6 w-auto">
        <img src="Logoes/profile-icon.png" alt="VW Logo" class="h-6 w-auto" >
        
      </div>

      
      