<div class="max-w-screen-2xl mx-auto">
    <div class="px-[1.5%] py-[6%] h-[500px] px-4 md:px-8 lg:px-12 xl:px-20 2xl:px-28 py-10 h-[500px]">
        <div class="flex justify-between h-[417px]">
            <div class="w-[48.5%] p-4">
                <div>
                    <div>
                        <div>
                            <div class="font-bold text-[48px] leading-[1.07] tracking-[0em] align-middle mb-6">
                                Latest Motability <br />Offers
                            </div>
                            <div class="font-[400] text-[16px] leading-[1.4] tracking-[0] align-middle">
                                Choose from trusted brands available on the Motability Scheme.
                            </div>
                        </div>
                        <button
                            class="flex flex-row items-center justify-center h-[50px] min-w-[150px] w-[207px] rounded-[8px] py-[17px] px-[14px] gap-[4px] bg-[#FF5500] mt-[40px] text-white">
                            View All Offers by Brand
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-[48.5%] p-4">
                <div class="grid grid-cols-3 grid-rows-3 gap-[1%]">
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-1.png" alt="Toyota"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-2.png" alt="Nissan"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-3.png" alt="Audi"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-5.png" alt="Volkswagen"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-10.png" alt="KIA"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-11.png" alt="Hyundai"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-8.png" alt="Skoda"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-12.png" alt="BMW"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                    <div class="bg-[#F6F7F9] w-full h-[133px] flex items-center justify-center">
                        <img src="Logoes/image-11.png" alt="Hyundai"
                            class="w-[95.06px] h-[58.95px] object-contain mix-blend-darken" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>