<div class="relative w-full  sm:h-[400px] lg:h-auto bg-[#000000FF]">
<div>
  <img src="/Logoes/bg-hero4.png"  class="w-full sm:h-[400px] lg:h-auto " />
</div>
<div class="absolute top-[25%] left-[5%]">



  <div class="font-bold lg:text-[48px] sm:text-[32px]  md:text-[32px] leading-[107%] text-[#FFFFFF] tracking-[0%]  ">
    Drive Your Career <br> Forward with <br>Parkway <br> Volkswagen
  </div>

  <div class="font-semibold text-[18px] text-[#FFFFFF] mt-[15px] ">
    Join a team that values passion, performance, and people.
  </div>
  <button
    class="bg-[#052B6B] text-white w-[156px] rounded-[8px] px-[12px] py-[17px] gap-[4px] font-semibold text-[16px] mt-[20px] ">
    View Open Roles
  </button>

</div>
</div>
