<div class="px-4 py-6 mx-auto">
  <!-- Title -->
  <h1 class="text-2xl font-semibold text-center text-[#0052BD] mb-2">Picanto options available</h1>

  <!-- Subtitle -->
  <p class="text-center text-gray-600 mb-6">
    We have different model options available for the Kia Picanto. Explore these to see if they suit you.
    You can change the filters to narrow your search.
  </p>

  <!-- Car count -->
  <div class="text-xxl text-[#0052BD] font-medium mb-4 px-[5%] py-0 text-[40px]" >
    2 <span class="text-gray-700 text-base font-normal">| 2 cars</span>
  </div>

  <!-- Car cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-[5%] py-0">
    <!-- Card 1 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-3.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Kia Picanto</div>
        <p class="text-[#0052BD]">1.0 2 5dr</p>
        <p class="text-sm text-[#0052BD]">REF: 668909</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£72.25</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Manual</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-3.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Kia Picanto</div>
        <p class="text-[#0052BD]">1.0 2 5dr Auto</p>
        <p class="text-sm text-[#0052BD]">REF: 668912</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£73.50</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Automatic</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

  </div>





    <!-- Car count -->
  <div class="text-xxl text-[#0052BD] font-medium mb-4 px-[5%] py-0 pt-[2%] text-[40px]">
    GT-Line <span class="text-gray-700 text-base font-normal">| 2 cars</span>
  </div>

  <!-- Car cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-[5%] py-0">
    <!-- Card 1 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-3.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Kia Picanto</div>
        <p class="text-[#0052BD]">1.0 2 5dr</p>
        <p class="text-sm text-[#0052BD]">REF: 668909</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£72.25</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Manual</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-3.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Kia Picanto</div>
        <p class="text-[#0052BD]">1.0 2 5dr Auto</p>
        <p class="text-sm text-[#0052BD]">REF: 668912</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£73.50</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Automatic</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

  </div>


      <!-- Car count -->
  <div class="text-xxl text-[#0052BD] font-medium mb-4 px-[5%] py-0 pt-[2%] text-[40px]" >
    Other Brands <span class="text-gray-700 text-base font-normal">| 3 cars</span>
  </div>

  <!-- Car cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-[5%] py-0">
    <!-- Card 1 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-3.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Kia Picanto</div>
        <p class="text-[#0052BD]">1.0 3 5dr</p>
        <p class="text-sm text-[#0052BD]">REF: 668907</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£73.25</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Manual</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-2.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Fiat 500</div>
        <p class="text-[#0052BD]">1.0 3 5dr Auto</p>
        <p class="text-sm text-[#0052BD]">REF: 668906</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£74.50</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Automatic</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="border rounded-xl overflow-hidden shadow-sm hover:shadow-md transition">
      <div class="bg-[#ECF6FD] flex justify-center items-center w-full h-48">
        <img src="Logoes/car-1.png" alt="Kia Picanto" class="h-full w-auto object-contain" />
      </div>
      <div class="p-4 space-y-2">
        <div class="text-[#0052BD] font-semibold">Hyundai i10</div>
        <p class="text-[#0052BD]">1.0 3 5dr Auto</p>
        <p class="text-sm text-[#0052BD]">REF: 668906</p>

        <!-- Payment Details with top and bottom border -->
        <div class="flex border-y border-gray-300 mt-4 py-4 text-sm text-gray-800">
          <div class="flex-1 text-left pr-4">
            <p class="text-gray-600">Advance Payment</p>
            <p class="text-base text-gray-600 font-bold">£0</p>
          </div>
          <div class="w-px bg-gray-300 mx-2"></div>
          <div class="flex-1 text-left pl-4">
            <p class="text-gray-600">PIP Weekly cost</p>
            <p class="text-base text-gray-600 font-bold">£74.50</p>
          </div>
        </div>

        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mt-4">
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Petrol</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Automatic</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 seats</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">5 doors</span>
          <span class="text-gray-700 text-sm px-2 py-1 rounded bg-[#FDF1EA] font-bold">Under 25</span>
        </div>

        <a href="#" class="inline-block text-red-600 text-sm mt-4 hover:underline font-bold flex">See full specifications <img src="Logoes/Vector-arror.png" alt="" srcset="" class="pl-[5px]"> </a>
      </div>
    </div>

  </div>
</div>
