
<div class="bg-[] w-full relative flex flex-col gap-6 top-[0px] p-[7%]">
    <div class="flex flex-col gap-8">
      <h2 class="text-[#001A44] text-[48px] font-figtree font-bold ">
        New Available Models
      </h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6  ">
      <!-- Card 1 -->
      <div class="bg-white border border-[#ecedef]  flex flex-col h-[383px] w-full">
        <!-- Car Image Section -->
        <div class="relative flex flex-col items-center justify-between ">
          <!-- Wishlist -->
          <div class="w-full flex justify-end ">
            <div class="bg-white p-1.5 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>
          <img src="./Logoes/image 7268 (1).png" class="max-h-24 object-contain" />
          <!-- Slider dots -->
          <div class="flex gap-2 pb-1">
            <div class="w-2 h-2 bg-[#052b6b] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
          </div>
        </div>

        <!-- Car Details -->
        <div class="flex flex-col gap-4 p-3">
          <div>
            <h3 class="text-black text-lg font-bold">Polo</h3>
            <p class="text-[#54585F] text-sm">GDi ISG 2 5dr (130 PS)</p>
          </div>

          <!-- Tags -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Price -->
          <div class="border border-[#ECEDEF] bg-[#F6F7F9]  p-2">
            <div class="flex justify-between text-sm">
              <span>Start at</span>
              <img src="\Logoes\u_info-circle.png" title="This is Polo GDi ISG 2 5dr (130 PS)" class="w-[13.33px] h-[13.33px]"/>
            </div>
            <p class="font-semibold">£2000-4000</p>
          </div>

          <!-- CTA -->
          <!-- CTA -->
<div class="mt-auto -mx-3">
    <button onclick="window.open('https://www.volkswagen.co.in/app/site/online-booking/', '_blank')"
        class="w-full bg-[#052b6b] text-white text-sm font-semibold py-3 ">
        Grab Hot Deal
    </button>
</div>

        </div>
      </div>



      <div class="bg-white border border-[#ecedef]  flex flex-col h-[383px] w-full">
        <!-- Car Image Section -->
        <div class="relative flex flex-col items-center justify-between ">
          <!-- Wishlist -->
          <div class="w-full flex justify-end ">
            <div class="bg-white p-1.5 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>
          <img src="Logoes/blue-car.png" class="max-h-24 object-contain" />
          <!-- Slider dots -->
          <div class="flex gap-2 pb-1">
            <div class="w-2 h-2 bg-[#052b6b] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
          </div>
        </div>

        <!-- Car Details -->
        <div class="flex flex-col gap-4 p-3">
          <div>
            <h3 class="text-black text-lg font-bold">Polo</h3>
            <p class="text-[#54585F] text-sm">GDi ISG 2 5dr (130 PS)</p>
          </div>

          <!-- Tags -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Price -->
          <div class="border border-[#ECEDEF] bg-[#F6F7F9]  p-2">
            <div class="flex justify-between text-sm">
              <span>Start at</span>
              <img src="\Logoes\u_info-circle.png" title="This is Polo GDi ISG 2 5dr (130 PS)" class="w-[13.33px] h-[13.33px]"/>
            </div>
            <p class="font-semibold">£2000-4000</p>
          </div>

          <!-- CTA -->
          <!-- CTA -->
<div class="mt-auto -mx-3">
    <button onclick="window.open('https://www.volkswagen.co.in/app/site/online-booking/', '_blank')"
        class="w-full bg-[#052b6b] text-white text-sm font-semibold py-3 ">
        Grab Hot Deal
    </button>
</div>

        </div>
      </div>



      <div class="bg-white border border-[#ecedef]  flex flex-col h-[383px] w-full">
        <!-- Car Image Section -->
        <div class="relative flex flex-col items-center justify-between ">
          <!-- Wishlist -->
          <div class="w-full flex justify-end ">
            <div class="bg-white p-1.5 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>
          <img src="Logoes/gray-car1.png" class="max-h-24 object-contain" />
          <!-- Slider dots -->
          <div class="flex gap-2 pb-1">
            <div class="w-2 h-2 bg-[#052b6b] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
          </div>
        </div>

        <!-- Car Details -->
        <div class="flex flex-col gap-4 p-3">
          <div>
            <h3 class="text-black text-lg font-bold">Polo</h3>
            <p class="text-[#54585F] text-sm">GDi ISG 2 5dr (130 PS)</p>
          </div>

          <!-- Tags -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Price -->
          <div class="border border-[#ECEDEF] bg-[#F6F7F9]  p-2">
            <div class="flex justify-between text-sm">
              <span>Start at</span>
              <img src="\Logoes\u_info-circle.png" title="This is Polo GDi ISG 2 5dr (130 PS)" class="w-[13.33px] h-[13.33px]"/>
            </div>
            <p class="font-semibold">£2000-4000</p>
          </div>

          <!-- CTA -->
          <!-- CTA -->
<div class="mt-auto -mx-3">
    <button onclick="window.open('https://www.volkswagen.co.in/app/site/online-booking/', '_blank')"
        class="w-full bg-[#052b6b] text-white text-sm font-semibold py-3 ">
        Grab Hot Deal
    </button>
</div>

        </div>
      </div>




      <div class="bg-white border border-[#ecedef]  flex flex-col h-[383px] w-full">
        <!-- Car Image Section -->
        <div class="relative flex flex-col items-center justify-between ">
          <!-- Wishlist -->
          <div class="w-full flex justify-end ">
            <div class="bg-white p-1.5 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>
          <img src="Logoes/white-car.png" class="max-h-24 object-contain" />
          <!-- Slider dots -->
          <div class="flex gap-2 pb-1">
            <div class="w-2 h-2 bg-[#052b6b] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
            <div class="w-2 h-2 bg-[#b9bdc4] rounded-full"></div>
          </div>
        </div>

        <!-- Car Details -->
        <div class="flex flex-col gap-4 p-3">
          <div>
            <h3 class="text-black text-lg font-bold">Polo</h3>
            <p class="text-[#54585F] text-sm">GDi ISG 2 5dr (130 PS)</p>
          </div>

          <!-- Tags -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Price -->
          <div class="border border-[#ECEDEF] bg-[#F6F7F9]  p-2">
            <div class="flex justify-between text-sm">
              <span>Start at</span>
              <img src="\Logoes\u_info-circle.png" title="This is Polo GDi ISG 2 5dr (130 PS)" class="w-[13.33px] h-[13.33px]"/>
            </div>
            <p class="font-semibold">£2000-4000</p>
          </div>

          <!-- CTA -->
          <!-- CTA -->
<div class="mt-auto -mx-3">
    <button onclick="window.open('https://www.volkswagen.co.in/app/site/online-booking/', '_blank')"
        class="w-full bg-[#052b6b] text-white text-sm font-semibold py-3 ">
        Grab Hot Deal
    </button>
</div>

        </div>
      </div>
</div>



<div class="w-full flex justify-center items-center ">
  <div class="flex justify-center items-center gap-[16px] pt-[20px]">
    
    <!-- Left Button -->
    <div style="background: white"
      class="w-[32px] h-[32px] flex justify-center items-center p-[6px] rounded-[30px] shadow-[0px_0px_10px_rgba(0,0,0,0.10)]">
      <i class="fa-solid fa-angle-left"></i>
    </div>

    <!-- Right Button -->
    <div style="background: white"
      class="w-[32px] h-[32px] flex justify-center items-center p-[6px] rounded-[30px] shadow-[0px_0px_10px_rgba(0,0,0,0.10)]">
      <i class="fa-solid fa-angle-right"></i>
    </div>

  </div>
</div>


</div>







































      