<div class="p-[5%]">
    <div class="font-bold text-[48px]">
        Finance Details

        <div class="grid grid-cols-1 xl:grid-cols-[50%_50%]">

            <div class="bg-[#F6F7F9] space-y-[20px]">

                <div class="font-bold text-[30px]">
                    Calculate My Finance
                </div>

                <div class="flex bg-[#FFFFFF] p-[8px] gap-[4px] w-[169px]">
                    <p class="font-semibold text-[18px]">£2000.40</p>
                    <p class="text-[14px]">per month</p>
                </div>

                <div class="grid grid-cols-[50%_50%]">
                    <div class="text-[#052B6B] font-semibold text-[16px] border-b-[2px] border-b-[#052B6B] text-center">
                        Personal Contact
                    </div>
                    <div class="text-[#B9BDC4] font-semibold text-[16px] border-b-[2px] border-b-[#B9BDC4] text-center">
                        Hide Purchase
                    </div>
                </div>

                <div class="p-[12px]">
                    <div class="pb-[15px]">
                        <div class="flex justify-between">
                            <p class="font-semibold text-[16px]">Customer Deposit</p>
                            <p class="border border-[#B9BDC4] px-[12px] py-[8px] text-[14px] w-[106px]">£1,200</p>
                        </div>
                        <img src="Logoes/rangebar1.png" alt="rangebar1" class="w-full">
                    </div>

                    <div class="pb-[15px]">
                        <div class="flex justify-between">
                            <p class="font-semibold text-[16px]">PCP Repayment Period</p>
                            <p class="border border-[#B9BDC4] px-[12px] py-[8px] text-[14px] w-[106px]">23 Months</p>
                        </div>
                        <img src="Logoes/rangebar2.png" alt="rangebar2" class="w-full">
                    </div>

                    <div class="">
                        <div class="flex justify-between">
                            <p class="font-semibold text-[16px]">Annual Mileage</p>
                            <p class="border border-[#B9BDC4] px-[12px] py-[8px] text-[14px] w-[106px]">9,000 Miles</p>
                        </div>
                        <img src="Logoes/rangebar3.png" alt="rangebar3" class="w-full">
                    </div>
                </div>

                <!-- <hr class="xl:ml-[-10px] mt-[2%] w-full ml-0 xl:w-[110%] 2xl:w-[100%] border-[#B9BDC4] "/> -->

                <div class="grid grid-cols-[50%_50%] px-[8px] pb-[8px] pt-[12px]">

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Balance</p>
                        <p class="font-semibold text-[16px]">£11,000.00</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Interest Rate(Fixed)</p>
                        <p class="font-semibold text-[16px]">£11,000.00</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Total Deposit</p>
                        <p class="font-semibold text-[16px]">£2,000.00</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Annual Mileage</p>
                        <p class="font-semibold text-[16px]">9,000 Miles</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Balance to Finance</p>
                        <p class="font-semibold text-[16px]">£9,600.00</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Excess milage charge</p>
                        <p class="font-semibold text-[16px]">6p per mile</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Total Charge foe credit</p>
                        <p class="font-semibold text-[16px]">£2,117.90</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Term of agreement</p>
                        <p class="font-semibold text-[16px]">27 months</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Total amount payable</p>
                        <p class="font-semibold text-[16px]">£14,116.00</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">26 Monthly Payment</p>
                        <p class="font-semibold text-[16px]">£284.15</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Representative APR</p>
                        <p class="font-semibold text-[16px]">14.2% A.P.R</p>
                    </div>

                    <div class=" border-b-[2px] pt-[10px]">
                        <p class="text-[#54585F] text-[12px]">Option to purchase fee</p>
                        <p class="font-semibold text-[16px]">£10.00</p>
                    </div>

                </div>

                <div class="grid grid-cols-[55%_45%]">
                    <div class="bg-[#052B6B] px-[12px] py-[13px] rounded-[2px] text-white text-[16px] text-center">
                        Calculate
                    </div>
                    <div>
                        <p class="text-[#54585F] text-[12px] ml-[15px]">Final Payment Of</p>
                        <p class="font-bold text-[20px] ml-[15px]">£4,330.00</p>
                    </div>
                </div>

            </div>

            <div class="bg-[#DCDFE5] px-[16px] space-y-[20px]">

                <div class="font-bold text-[30px]">
                    Enquiry
                </div>

                <div class="text-[14px] font-normal">
                    Please fill in all of therequired fields to submit an enquiry.
                </div>

                <div class="bg-[#FFFFFF] p-[16px]">
                    <div class="">
                        <p class="font-semibold text-[16px]">Subject</p>
                        <input type="text" placeholder="Enter Subject"
                            class="text[#54585F] text-[14px] p-[12px] rounded-[2px] border border-[#B9BDC4] border-[1px] w-full">
                    </div>

                    <div class="grid grid-cols-[50%_50%]">
                        <div class="space-y-[5px]">
                            <p class="font-semibold text-[16px]">First Name</p>
                            <input type="text" placeholder="Enter First Name"
                                class="border p-[12px] w-[195px] text-[14px]">
                        </div>
                        <div class="space-y-[5px]">
                            <p class="font-semibold text-[16px]">Last Name</p>
                            <input type="text" placeholder="Enter Last Name" class="border p-[12px] text-[14px]">
                        </div>
                    </div>

                    <div class="grid grid-cols-[50%_50%]">
                        <div class="space-y-[5px]">
                            <p class="font-semibold text-[16px]">Email Address</p>
                            <input type="text" placeholder="Enter Email Address"
                                class="border p-[12px] w-[195px] text-[14px]">
                        </div>
                        <div class="space-y-[5px]">
                            <p class="font-semibold text-[16px]">Mobile Number</p>
                            <input type="text" placeholder="Enter Mobile Number" class="border p-[12px] text-[14px]">
                        </div>
                    </div>

                    <div class="font-semibold text-[16px] space-y-[5px] mt-[13px]">
                        Enquiry details
                        <input type="text" placeholder="Enter Subject"
                            class="text[#54585F] text-[14px] px-[12px] pb-[40px] pt-[16px] rounded-[2px] border border-[#B9BDC4] border-[1px] w-full">
                    </div>

                    <div class="space-y-[5px]">
                        <p class="font-semibold text-[16px] mt-[13px]">Dealer</p>
                        <input type="text" placeholder="Parkway Volkswagen Derby"
                            class="text[#54585F] text-[14px] bg-[#F2F2F2] p-[12px] rounded-[2px] border border-[#B9BDC4] border-[1px] w-full">
                    </div>

                    <div class="space-y-[5px]">
                        <div class="font-semibold text-[16px] ">
                            What type of appoinment would you like?
                        </div>

                        <div class="flex rounded-[8px] p-[8px] gap-[8px] bg-[#F6F7F9]">
                            <img src="Logoes/phone.png">
                            <div class="flex flex-col space-y-[3px]">
                                <div class="font-semibold text-[14px] text-[#000000]">Telephone Appoinment</div>
                                <div class="text-[#54585F] text-[12px]">
                                    <p>One of our sales team will call you at your required time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex rounded-[8px] p-[8px] gap-[8px] bg-[#F6F7F9]">
                            <img src="Logoes/phone.png">
                            <div class="flex flex-col space-y-[3px]">
                                <div class="font-semibold text-[14px] text-[#54585F]">Dealership Appoinment</div>
                                <div class="text-[#54585F] text-[12px]">
                                    <p>Dealership appoinments and test drives now available.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="mt-[110px]">
                        <div
                            class="bg-[#052B6B] px-[12px] py-[13px] rounded-[2px] text-white font-semibold text-[16px] text-center">
                            Submit
                        </div>
                    </div>

                </div>



            </div>

        </div>



    </div>
</div>