<div class="bg-[#FFFFFF] rounded-[16px] p-[16px] gap-[16px]">

    <div class="grid grid-cols-[55%_45%]">

        <div class="space-y-[15px]">

            <div>
                <img src="Logoes/picanto.png" alt="picanto" class="w-full">
            </div>

            <div class="border border-[2px] border-[#F6F7F9] rounded-[20px] gap-[13px] p-[15px]">

                <div class="text-[#0052BD] font-bold text-[27px]">
                    Kia Picanto
                </div>

                <div class="flex justify-between">
                    <div class="text-[#0052BD] font-semibold text-[18px]">
                        1.0.5 5dr
                    </div>
                    <div class="text-[#54585F] text-[14px] ">
                        REF:668907
                    </div>
                </div>

                <div class="space-y-[30px] p-[15px]">
                    <div class="flex gap-[150px]">

                        <div class="flex gap-[15px]">
                            <img src="Logoes/transmission.png" alt="transmission">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Transmission</div>
                                <div class="font-semibold text-[14px]">Manual</div>
                            </div>
                        </div>

                        <div class="flex gap-[15px]">
                            <img src="Logoes/door.png" alt="door">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Doors</div>
                                <div class="font-semibold text-[14px]">5 Doors</div>
                            </div>
                        </div>

                        <div class="flex gap-[15px]">
                            <img src="Logoes/engine.png" alt="engine">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Engine</div>
                                <div class="font-semibold text-[14px]">1.2L</div>
                            </div>
                        </div>

                    </div>

                    <div class="flex gap-[150px]">

                        <div class="flex gap-[15px]">
                            <img src="Logoes/body.png" alt="body">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Body Style</div>
                                <div class="font-semibold text-[14px]">Hatchback</div>
                            </div>
                        </div>

                        <div class="flex gap-[15px]">
                            <img src="Logoes/fuel.png" alt="fuel">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Fuel</div>
                                <div class="font-semibold text-[14px]">Petrol</div>
                            </div>
                        </div>

                        <div class="flex gap-[15px]">
                            <img src="Logoes/seat.png" alt="seat">
                            <div>
                                <div class="text-[#54585F] text-[10px]">Seats</div>
                                <div class="font-semibold text-[14px]">5</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="rounded-[12px] border border-[2px] border-[#F6F7F9] p-[16px] gap-[16px]">

            <div class="font-bold text-[30px]">
                Enquiry
            </div>

            <div class="text-[#54585F] text-[14px]">
                Please fill in all of the required fields to submit an enquiry.
            </div>

            <div class="space-y-[5px]">
                <p class="font-semibold text-[16px]">Subject</p>
                <input type="text" placeholder="Enter Subject"
                    class="text[#54585F] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px] w-full">
            </div>

            <div class="grid grid-cols-[50%_50%]">
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">First Name</p>
                    <input type="text" placeholder="Enter First Name"
                        class="text[#54585F] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px]">
                </div>
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Last Name</p>
                    <input type="text" placeholder="Enter First Name"
                        class="text[#54585F] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px]">
                </div>
            </div>

            <div class="grid grid-cols-[50%_50%]">
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Email Address</p>
                    <input type="text" placeholder="Enter Email Address"
                        class="text[#54585F] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px]">
                </div>
                <div class="space-y-[5px]">
                    <p class="font-semibold text-[16px]">Mobile Number</p>
                    <input type="text" placeholder="Enter Mobile Number"
                        class="text[#54585F] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px]">
                </div>
            </div>

            <div class="space-y-[5px]">
                <p class="font-semibold text-[16px]">Enquiry details</p>
                <input type="text" placeholder="Enter Subject"
                    class="text[#54585F] px-[12px] pt-[16px] pb-[40px] rounded-[8px] border border-[#B9BDC4] border-[2px] w-full">
            </div>

            <div class="space-y-[5px]">
                <p class="font-semibold text-[16px]">Dealer</p>
                <input type="text" placeholder="Parkway Volkswagen Derby"
                    class="text[#54585F] bg-[#F2F2F2] p-[12px] rounded-[8px] border border-[#B9BDC4] border-[2px] w-full">
            </div>

            <div class="space-y-[5px]">
                <div class="font-semibold text-[16px] ">
                    What type of appoinment would you like?
                </div>
                <div class="grid grid-cols-[50%_50%]">
                    <div class="flex rounded-[8px] p-[8px] gap-[8px] bg-[#54585F]">
                        <img src="Logoes/phone.png">
                        <div class="flex flex-col space-y-[3px]">
                            <div class="font-semibold text-[14px] text-[#FFFFFF]">Telephone Appoinment</div>
                            <div class="text-[#FFFFFF] text-[12px]">
                                <p>One of our sales team will call</p>
                                <p>you at your required time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex rounded-[8px] p-[8px] gap-[8px] bg-[#FFFFFF]">
                        <img src="Logoes/phone.png">
                        <div class="flex flex-col space-y-[3px]">
                            <div class="font-semibold text-[14px] text-[#54585F]">Dealership Appoinment</div>
                            <div class="text-[#54585F] text-[12px]">
                                <p>Dealership appoinments and test</p>
                                <p>drives now available.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-[#052B6B] rounded-[8px] px-[12px] py-[17px] text-[#FFFFFF] text-center">
                submit
            </div>

        </div>

    </div>


</div>