<section class="py-12 px-6  bg-white">
  <div class="max-w-6xl mx-auto text-center">
    <div class="text-5xl sm:text-5xl md:text-5xl font-bold mb-10">
      Why work with us?
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-8">
      <!-- Item 1 -->
      <div class="flex items-center justify-center h-[72px] p-4 w-full bg-[#F6F7F9]  ">
        <div class="text-[#000000] mr-4">
          <img src="Logoes/Family-run.png" alt="" >
        </div>
        <p class="text-left text-gray-800 font-medium">Family-run business with strong values</p>
      </div>

      <!-- Item 2 -->
      <div class="flex items-center justify-center h-[72px] p-4 w-full bg-[#F6F7F9] ">
        <div class="text-[#000000] mr-4">
         <img src="Logoes/Family-run3.png" alt="" >
        </div>
        <div class="text-left text-gray-800 font-medium">Friendly, team-focused culture</div>
      </div>

      <!-- Item 3 -->
      <div class="flex items-center justify-center h-[72px] p-4 w-full bg-[#F6F7F9]  ">
        <div class="text-[#000000] mr-4">
          <img src="Logoes/Family-run3.png" alt="" >
        </div>
        <p class="text-left text-gray-800 font-medium">Competitive pay and benefits</p>
      </div>

      <!-- Item 4 -->
      <div class="flex items-center justify-center h-[72px] p-4 w-full bg-[#F6F7F9] ">
        <div class="text-blue-800 mr-4">
          <img src="Logoes/Family-run4.png" alt=""  >
        </div>
        <p class="text-left text-gray-800 font-medium">Ongoing training and career growth</p>
      </div>
    </div>
  </div>
</section>







