<!-- career-banner.component.html -->
<div class="relative w-full max-w-[2560px] mx-auto">
  <!-- Banner Wrapper -->
<div class="relative w-full  max-h-[100vh] mx-auto rounded-b-[24px] overflow-hidden h-[530px] ">

    <!-- Background Image -->
    <img src="Logoes\career_image1.png" alt="Career Banner" class="absolute inset-0 w-full h-full object-cover">

    <!-- Overlay Gradient -->
    <div class="absolute inset-0 bg-[linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)),linear-gradient(89.37deg,rgba(0,0,0,0)_12%,rgba(0,0,0,0.2)_74.22%)]"></div>

    <!-- Content Box -->
    <div class="absolute top-[150px] left-[106px] w-[520px] h-[265px] flex flex-col gap-[24px]">

      <!-- Text Box -->
      <div class="flex flex-col gap-[16px] text-white font-[Figtree]">
        <!-- Header Text -->
        <span class="font-bold text-[48px] leading-[107%] tracking-[0]">
          Drive Your Career 

          Forward with Parkway 

          Volkswagen
        </span>

        <!-- Tagline -->
        <span class="font-semibold text-[18px] leading-[100%] tracking-[0]">
          Join a team that values passion, performance, and people.
        </span>
      </div>

      <!-- Button -->
      <div>
        <span class="inline-block w-[156px] min-w-[150px] h-[50px] bg-[#052B6B] text-white text-center text-sm font-semibold rounded-[8px] py-[17px] px-[12px] cursor-pointer hover:bg-[#0640a3] transition">
          View Open Roles
        </span>
      </div>
    </div>
  </div>
</div>