<section class="flex flex-col xl:flex-row w-full  p-[7%] ">
  <div class="w-full xl:w-1/2">
    <img src="Logoes/parkway-volks2.png" alt="Team" class="w-full h-full object-cover">
  </div>
  <div class="w-full xl:w-1/2 bg-[#001A44] text-white flex flex-col justify-center p-6 sm:p-8 md:p-10 lg:p-20">
    <h2 class="text-5xl sm:text-5xl md:text-5xl font-bold mb-6">Parkway <br> Volkswagen <br> Careers</h2>
    <ol class=" text-[16px] leading-[160%] list-disc list-outside marker:text-blue-500 text-white-800 ml-[19px]">
        <li>Parkway Volkswagen is a leading homegrown Volkswagen retailer.</li>
        <li>They operate in Derby, Leicester, Kettering, and Northampton.</li>
        <li>The Volkswagen brand is known for producing high-quality, high-performance vehicles.</li>
        <li>Parkway Volkswagen is proud to represent this prestigious brand for motorists in their region.</li>
    </ol>
    <button class="mt-6 text-[16px]  font-semibold text-base rounded-[8px] w-[156px] h-[50px] sm:w-[140px] px-6 py-2 border border-white  hover:bg-white hover:text-[#003A8C] transition">
      Know More
    </button>
  </div>

</section> 




  