
  <section class="flex flex-col md:flex-row p-[1.5%] mt-[-65px] mb-">
    <!-- Left Section -->
    <div class="w-[617px] h-[610px] bg-[#001F52] text-white flex flex-col justify-center px-10 py-16 md:w-1/2 ml-[65px] ">
      <div class="text-[48px] font-bold mb-7">About Parkway Volkswagen</div>
      <p class="text-base mb-6 leading-relaxed">
        Parkway Volkswagen is a leading homegrown Volkswagen <br> retailer in
        <span class="font-semibold">Derby, Leicester, Kettering, and Northampton</span>.
        This prestigious brand is renowned for developing high-quality, <br> high-performance
        vehicles, and we’re delighted to be a <br> representative for motorists in the area.
      </p>
      <button
        class="w-[156px] h-[50px] border border-white w-32 py-2 rounded-lg hover:bg-white hover:text-[#001F52] transition font-semibold">
        Know More
      </button>
  
    </div>
  
  
    <div class="relative bg-[#052B6B] flex items-center justify-center md:w-1/2 px-4 py-10 mr-[65px]">
  
  
      <img src="Logoes/enquiry-logo.png" alt="VW Logo" class="absolute opacity-10 w-3/1 " />
  
  
      <img src="Logoes/women-car2.png" alt="Customer with Volkswagen Car"
        class="relative z-10  mb-[-265px] mr-[-170px] max-w-[480px]  object-contain " />
    </div>
  </section>