<div class="grid grid-cols-[50%_50%] ">
    <div >
        <h1 class="font-bold text-[48px] text-[#001A44]">Latest<br />
            Motability Scheme<br />
            Price 2025
        </h1>
        <br />
        <p class="text-[18px]">
            The Motability scheme is a great way to stay mobile,<br />
            letting you exchange your Mobility Allowance to lease a<br />
            new vehicle of your choice.
        </p><br />
        <div class="bg-[#052B6B] text-white  w-[156px] px-[12px] py-[17px] rounded-[8px] text-center top-2">
            <button class="">Know More</button>
        </div>
    </div>

<div class="relative ">
    <img src="Logoes/banner2.png" alt="car with two guys" class="h-[425px] w-[681px] rounded-[24px]">
    <img src="Logoes/Star 2.png" alt="star" class="absolute top-0 left-[401px] rounded-tr-[24px]">
    <img src="Logoes/motability.png" alt="motability" class="absolute top-6 left-[440px] h-[79px] w-[180px]">
</div>

</div>