<div class="bg-[#ECEDEF] p-[7%] ">
<div class=" grid grid-cols-1 md:grid-cols-[50%_50%] gap-4 ">
    <div>
        <div class="font-bold text-[48px] text-[#001A44] leading-[60px]">Latest<br />
            Motability Scheme<br />
            Price 2025
        </div>
        <br />
        <div class="text-[18px]">
            The Motability scheme is a great way to stay mobile,<div></div>
            letting you exchange your Mobility Allowance to lease a <div></div>
            new vehicle of your choice.
        </div> <div></div>
        <div class="bg-[#052B6B] text-white  w-[156px] px-[12px] py-[17px] rounded-[8px] text-center top-2 mt-[35px]">
            <button class="">Know More</button>
        </div>
    </div>

<div class="relative ">
    <div class="bg-[url('/Logoes/banner2.png')] bg-cover bg-center h-[467px]   rounded-[25px] ">
<div>
    <img src="Logoes/Star3.png" alt="star" class="absolute top-0 right-0 rounded-tr-[24px] ">  
    <img src="Logoes/motabilityscheme.png" alt="motability" class="absolute top-6 right-0 h-[79px] w-[180px] ">
    </div>
</div>

</div>
</div>