<div class="max-w-6xl mx-auto px-6  ">
    <h1 class="font-figtree font-bold  text-[#000000] text-[48px] py-2 pt-[40px]">Finance Details</h1>
</div>

<div class="bg-white ">
  <section class="max-w-6xl mx-auto p-6">
    <!-- Outer Border -->
    <div class="border border-[#DCDFE5] bg-[#F6F7F9] py-6 px-4">

      <!-- Header Centered -->
      <div class="flex justify-center items-center space-x-3 mb-6 ">
        <h3 class="text-[30px] font-figtree font-bold text-[#000000]">
          Calculate My Finance
        </h3>
        <span class="border border-[#DCDFE5] bg-white font-figtree font-semibold px-3 py-1">
          £2000.40 <span class="text-[14px] font-normal">per month</span>
        </span>
      </div>

      <!-- Inner Border -->
      <div class="border border-[#DCDFE5] bg-[#F6F7F9]  ">
        
        <!-- Row 1 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div >
            <p class="text-[12px] text-[#54585F] font-figtree">Balance</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£11,000.00</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Interest Rate (Fixed)</p>
            <p class="font-semibold  text-[16px] text-[#000000]">14.11%</p>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Total Deposit</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£2,000.00</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Annual Mileage</p>
            <p class="font-semibold  text-[16px] text-[#000000]">9,000 Miles</p>
          </div>
        </div>

        <!-- Row 3 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Balance to Finance</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£9,600.00</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Excess mileage Charge</p>
            <p class="font-semibold  text-[16px] text-[#000000]">6p per mile</p>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Total Charge for credit</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£2,117.90</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Term of agreement</p>
            <p class="font-semibold  text-[16px] text-[#000000]">27 months</p>
          </div>
        </div>

        <!-- Row 5 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Total amount payable</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£14,116.00</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">26 Monthly Payments</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£284.15</p>
          </div>
        </div>

        <!-- Row 6 -->
        <div class="grid grid-cols-2 gap-6 px-4 py-4 border border-[#DCDFE5]">
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Representative APR</p>
            <p class="font-semibold  text-[16px] text-[#000000]">14.2% A.P.R</p>
          </div>
          <div>
            <p class="text-[12px] text-[#54585F] font-figtree">Option to purchase fee</p>
            <p class="font-semibold  text-[16px] text-[#000000]">£10.00</p>
          </div>
        </div>


    

      </div>

    </div>

      <div  class="flex justify-center md:justify-start lg:justify-start items-center  ">
 
  <!-- Main Card -->
  <div
     class="flex flex-col lg:flex-row w-full px-0 h-auto lg:h-[756px]  overflow-hidden bg-[#001A44] pr-[15px] pb-[20px]">
 
 
    <!-- Left Section -->
    <div
      class="relative flex flex-col justify-start items-start w-full lg:w-[480px] h-auto lg:h-full bg-[#001A44] p-6 lg:p-8 gap-2 text-white">
      <span class="font-[Figtree] font-bold text-[32px] lg:text-[48px] leading-[107%]">
        Enquiry
      </span>
      <span class="font-[Figtree] font-normal text-[14px] lg:text-[16px] leading-[140%] w-full lg:w-[499px]">
        Please fill in all of the required fields to submit an enquiry.
      </span>
      <!-- Logo (hidden below 1024px) -->
      <img src="Logoes/wlogo.png" alt="VW Logo" class="hidden lg:block absolute bottom-0 left-0 w-[381px] h-[296px]">
    </div>
 
    <!-- Right Section (Form) -->
    <div
      class="flex flex-col w-full  h-auto  bg-white p-4 lg:pl-4 lg:pt-4 mt-4 lg:mt-6 lg:ml-[0.5rem] ml-[7px] gap-4">
 
      <!-- Subject -->
      <div class="flex flex-col gap-1 ">
        <span class="font-[Figtree] font-semibold text-[16px] rounded-[2px]">Subject</span>
        <div class="w-full h-[48px] border border-gray-300  px-3 flex items-center">
          <span class="text-gray-400 text-[14px]">Enter Subject</span>
        </div>
      </div>
 
      <!-- First Name + Last Name -->
      <div class="flex flex-col sm:flex-row gap-4 ">
        <div class="flex flex-col gap-2 w-full sm:w-1/2 ">
          <span class="font-[Figtree] font-semibold text-[16px]">First Name</span>
          <div class="w-full h-[48px] border border-gray-300  px-3 flex items-center">
            <span class="text-gray-400 text-[14px]">Enter First Name</span>
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full sm:w-1/2">
          <span class="font-[Figtree] font-semibold text-[16px]">Last Name</span>
          <div class="w-full h-[48px] border border-gray-300  px-3 flex items-center">
            <span class="text-gray-400 text-[14px]">Enter Last Name</span>
          </div>
        </div>
      </div>
 
      <!-- Email + Mobile -->
      <div class="flex flex-col sm:flex-row gap-4">
        <div class="flex flex-col gap-2 w-full sm:w-1/2">
          <span class="font-[Figtree] font-semibold text-[16px]">Email address</span>
          <div class="w-full h-[48px] border border-gray-300  px-3 flex items-center">
            <span class="text-gray-400 text-[14px]">Enter Email address</span>
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full sm:w-1/2">
          <span class="font-[Figtree] font-semibold text-[16px]">Mobile number</span>
          <div class="w-full h-[48px] border border-gray-300  px-3 flex items-center">
            <span class="text-gray-400 text-[14px]">Enter Mobile number</span>
          </div>
        </div>
      </div>
 
      <!-- Enquiry Details -->
      <div class="flex flex-col gap-2">
        <span class="font-[Figtree] font-semibold text-[16px]">Enquiry details</span>
        <div class="w-full h-[100px] lg:h-[73px] border border-gray-300  px-3 pt-2 flex items-start">
          <span class="text-gray-400 text-[14px]">Enter Subject</span>
        </div>
      </div>
 
      <!-- Dealer -->
      <div class="flex flex-col gap-2">
        <span class="font-[Figtree] font-semibold text-[16px] rounded-[2px]">Dealer</span>
        <div class="w-full h-[48px] bg-[#F2F2F2] border border-gray-300 px-3 flex items-center">
          <span class="text-[#54585F] text-[14px] rounded-[2px]">Parkway Volkswagen Derby</span>
        </div>
      </div>
 
      <!-- Appointment Question -->
      <div class="flex flex-col gap-2 mt-2">
        <span class="font-[Figtree] font-semibold text-[16px]">
          What type of appointment would you like?
        </span>
        <div class="flex flex-col sm:flex-row gap-4">
          <!-- Option 1 -->
          <div class="flex items-start gap-2 w-full sm:w-1/2 bg-[#F6F7F9] rounded-[2px] px-2 py-2">
            <img src="Logoes/Phone1.png" alt="Phone Icon" class="w-5 h-5 mt-[6px]">
            <div class="flex flex-col leading-tight">
              <span class="font-[Figtree] font-semibold text-[14px]">
                Telephone Appointment
              </span>
              <span class="font-[Figtree] font-normal text-[12px] text-black text-opacity-50">
                One of our Sales team will call you at your requested time.
              </span>
            </div>
          </div>
 
          <!-- Option 2 -->
          <div class="flex items-start gap-2 w-full sm:w-1/2 rounded-[8px] px-2 py-2">
            <img src="Logoes/group1.png" alt="Building Icon" class="w-[24px] h-[24px] mt-[6px]">
            <div class="flex flex-col leading-tight">
              <span class="font-[Figtree] font-semibold text-[14px] text-[#54585F]">
                Dealership Appointment
              </span>
              <span class="font-[Figtree] font-normal text-[12px] text-[#54585F] text-opacity-75">
                Available appointments and local offers now available.
              </span>
            </div>
          </div>
        </div>
      </div>
 
 
      <!-- Submit Button -->
      <div
        class="bg-[#052B6B] text-white sm:w-[249px] text-center font-semibold text-[16px] px-[12px] py-[10px] rounded-[8px]">
        Submit
      </div>
 
 
    </div>
  </div>
</div>
 


  </section>
</div>
















