<div class="bg-[#ECEDEF] px-4 sm:px-[7%] py-6">
  <div class="bg-[url('/Logoes/banner.png')] bg-cover bg-center h-[280px] sm:h-[360px] md:h-[467px] w-full rounded-[20px] sm:rounded-[25px] relative flex items-center justify-end">

    <!-- Star & Content Wrapper -->
    <div class="relative w-full sm:w-[80%] md:w-[510px] h-full flex flex-col items-center sm:items-start justify-center p-4 sm:p-[0rem] md:p-0">
      
      <!-- Star image -->
      <img src="Logoes/Star 1.png" alt="star image" class="rounded-tr-[20px] sm:rounded-tr-[25px] w-full h-[465px] sm:w-auto">

      <!-- Motability logo -->
      <img src="Logoes/motabilityscheme.png" alt="motability"
        class="absolute top-4 sm:top-8 left-1/2 sm:left-[30%] transform -translate-x-1/2 sm:translate-x-0 h-[50px] sm:h-[65px] md:h-[79px] w-auto">

      <!-- Heading -->
      <div class="absolute top-[100px] sm:top-[130px] left-1/2 sm:left-[30%] transform -translate-x-1/2 sm:translate-x-0 text-center sm:text-left leading-tight sm:leading-[50px] md:leading-[60px]">
        <p class="text-[28px] sm:text-[40px] md:text-[56px] 2xl:text-[64px] text-white font-bold">
          Great value <br class="hidden sm:block" /> for money
        </p>
      </div>

      <!-- Subtext -->
      <div class="absolute top-[200px] sm:top-[275px] left-1/2 sm:left-[30%] transform -translate-x-1/2 sm:translate-x-0 text-center sm:text-left">
        <p class="text-[12px] sm:text-[14px] md:text-[15px] text-white">
          The Car leasing package that keeps<br class="hidden sm:block" /> you moving
        </p>
      </div>
    </div>
  </div>
</div>