

<!-- new one -->
 <div class="bg-[#DCDFE5] p-[7%]">
    <div class="bg-[url('/Logoes/banner.png')] bg-cover bg-center h-[467px]  w-full rounded-[25px] ">

        <div class="flex justify-end relative">

            <div class="w-[510px] sm:w-[450px] h-[450px] absolute">
                <img src="Logoes/Star 1.png" alt="star image" class=" rounded-tr-[25px] ">
                <div>
                    <!-- <h2 class="absolute  top-0">hhh</h2> -->
                    <div>
                        <img src="Logoes/Motability_1.png" alt="motability"
                            class="absolute top-8 left-[30%] h-[79px] w-[180px] ">
                    </div>
                    <div class="absolute top-[130px]  leading-[60px] left-[30%]">
                        <p class="text-[56px] text-white font-bold ">Great value <br /> for money</p>
                    </div>
                    <div class="absolute top-[275px] left-[30%]">
                        <p class="text-white text-[15px] ">The Car leasing package that keeps<br />you moving
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>