<!-- <div class="relative ">
    <img src="Logoes/banner.png" alt="car by girl" class="w-full">
    <img src="Logoes/Star 1.png" alt="star image" class="absolute top-0 left-[755px] w-[510px] h-[450px] rounded-tr-[25px]">
        
    <img src="Logoes/motability.png" alt="motability" class="absolute top-8 left-[900px] h-[79px] w-[180px] ">

    <div class="absolute top-[130px] left-[900px] leading-[60px] ">
        <p class="text-[56px] text-white font-bold ">Great value <br /> for money</p>
    </div>
    <div class="absolute top-[275px] left-[900px] ">
        <p class="font-bold text-white text-[15px] ">The Car leasing package that keeps<br />you moving</p>

    </div>
</div> -->

<div class="bg-[#DCDFE5] p-[7%]">
    <div class="bg-[url('/Logoes/banner.png')] bg-cover bg-center h-[467px]  w-full rounded-[25px] ">

        <div class="flex justify-end relative">

            <div class="w-[510px] h-[450px] absolute">
                <img src="Logoes/Star 1.png" alt="star image" class=" rounded-tr-[25px] ">
                <div>
                    <!-- <h2 class="absolute  top-0">hhh</h2> -->
                    <div>
                        <img src="Logoes/motability.png" alt="motability"
                            class="absolute top-8 left-[30%] h-[79px] w-[180px] ">
                    </div>
                    <div class="absolute top-[130px]  leading-[60px] left-[30%]">
                        <p class="text-[56px] text-white font-bold ">Great value <br /> for money</p>
                    </div>
                    <div class="absolute top-[275px] left-[30%]">
                        <p class="font-bold text-white text-[15px] ">The Car leasing package that keeps<br />you moving
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>