
<div class="w-full bg-[#F8FAFC] p-[85px] pb-[80px] pt-[1px] ">
  <div class="font-bold text-[48px] leading-[107%] text-[#000000] w-full">
   Why work with us?
  </div>
  <div class="flex gap-[16px] mt-[30px]">
  <div class="flex flex-col w-full h-[126px]  rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF] ">
    <img src="Logoes/icon1.png" alt="Family Values" class="w-[32px] h-[32px]">
    <span class="text-[#000000] font-semibold text-[16px] sm:text-[10px] md:text-[16px]  leading-[120%]">
     Family-run business with<br/> strong values
    </span>
  </div>
  <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF] ">
    <img src="Logoes/icon2.png" alt="Team Culture" class="w-[32px] h-[32px]">
    <span class="text-[#000000] font-semibold text-[16px] sm:text-[10px] md:text-[16px] leading-[120%]">
     Friendly,team-focused culture
    </span>
  </div>
  <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF] ">
    <img src="Logoes/icon3.png" alt="Pay and Benefits" class="w-[32px] h-[32px]">
    <span class="text-[#000000] font-semibold text-[16px] sm:text-[10px] md:text-[16px] leading-[120%]">
     Competitive pay and benefits
    </span>
  </div>
  <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF] ">
    <img src="Logoes/icon4.png" alt="Career Growth" class="w-[32px] h-[32px]">
    <span class="text-[#000000] font-semibold text-[16px] sm:text-[10px]  md:text-[16px] leading-[120%]">
     Ongoing training and career growth
    </span>
  </div>
  </div>
</div>











<!-- <div class="w-full bg-[#F8FAFC] p-6 sm:p-10 md:p-[85px] pb-[80px] pl-4 sm:pl-10 md:pl-[85px]">


  
  <div class="font-bold text-[28px] sm:text-[36px] md:text-[48px] leading-[107%] text-[#000000] w-full">
    Why work with us?
  </div>

  
  
  <div class="flex flex-col sm:flex-row gap-[16px] mt-[30px]">
   
    <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF]">
      <img src="Logoes/icon1.png" alt="Family Values" class="w-[32px] h-[32px]">
      <span class="text-[#000000] font-semibold text-[14px] sm:text-[15px] md:text-[16px] leading-[120%]">
        Family-run business with<br />strong values
      </span>
    </div>

    
    
    <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF]">
      <img src="Logoes/icon2.png" alt="Team Culture" class="w-[32px] h-[32px]">
      <span class="text-[#000000] font-semibold text-[14px] sm:text-[15px] md:text-[16px] leading-[120%]">
        Friendly, team-focused culture
      </span>
    </div>

    
    <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF]">
      <img src="Logoes/icon3.png" alt="Pay and Benefits" class="w-[32px] h-[32px]">
      <span class="text-[#000000] font-semibold text-[14px] sm:text-[15px] md:text-[16px] leading-[120%]">
        Competitive pay and benefits
      </span>
    </div>

   
    <div class="flex flex-col w-full h-[126px] rounded-[12px] px-[16px] py-[20px] gap-[13px] bg-[#FFFFFF]">
      <img src="Logoes/icon4.png" alt="Career Growth" class="w-[32px] h-[32px]">
      <span class="text-[#000000] font-semibold text-[14px] sm:text-[15px] md:text-[16px] leading-[120%]">
        Ongoing training and career growth
      </span>
    </div>
  </div>
</div>


 -->
