

  
 <section class="flex flex-col lg:flex-row w-full px-[7%] py-[4%]  ">
    <div class="  bg-[#001F52] text-white flex flex-col justify-center px-10 py-16 w-full ">
      <div class="text-[48px] leading-[50px] font-bold mb-7">About <br>Parkway <br>Volkswagen</div>
      <p class="text-[16px] mb-6 leading-relaxed">
        Parkway Volkswagen is a leading homegrown Volkswagen <br> retailer in
        <span class="font-semibold">Derby, Leicester, Kettering, and Northampton</span>.
        This <br> prestigious brand is renowned for developing high-quality, <br> high-performance
        vehicles, and we’re delighted to be a <br> representative for motorists in the area.
      </p>
      <button
        class="w-[156px] h-[50px] border border-white w-32 py-2 rounded-lg hover:bg-white hover:text-[#001F52] transition font-semibold">
        Know More
      </button>
  
    </div>
 <div class="relative bg-[#052B6B] flex items-center justify-center w-full  px-[-7%] py-10 ">
  
  <div class="w-full  flex">
      <img src="Logoes/enquiry-logo.png" alt="VW Logo" class=" opacity-10 justify-center " />

  </div>
  <div class="absolute bottom-0 right-[0%] ">
    <img src="Logoes/women-car2-working.png" alt="Customer with Volkswagen Car" />
  </div>

    </div>
   </section>

