<section class="relative bg-[white] py-20 px-4">
  <!-- Top wave -->
<div class="absolute top-0 left-0 w-full z-0 pointer-events-none select-none"
    width="200px"
    height="10px">
    <img style=" width: 100%;"
    src="Logoes/Union1.png"
    alt="Wave Top"

  />
</div>

  <!-- Content -->
  <div class="relative z-10 max-w-6xl mx-auto text-center space-y-10">
    <!-- Header -->
    <div>
      <div class="text-3xl sm:text-[12px] md:text-4xl font-bold text-black">What’s Included ?</div>
      <p class="text-gray-700 max-w-2x2 mx-auto mt-2 md:text-base text-[96px]" >
        When you lease through the Motability Scheme, everything you need to keep driving is taken care of — it’s all included in the price.
      </p>
    </div>

    <!-- Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4 md:px-0 text-left">
      <!-- Insurance -->
      <div class="bg-white p-6 rounded-lg shadow flex gap-4 items-start">
       <img src="Logoes/insurance.png" alt="Insurance" class="mt-1" style="width: 48.128395080566406px; height: 52px;" />

        <!-- <img src="Logoes/insurance.png" alt="Insurance" class="w-6 h-6 mt-1" /> -->
        <div>
          <div class="text-base md:text-lg font-bold text-black">Insurance cover</div>
          <p class="text-sm text-gray-700 mt-1">
            We’ll arrange this for you. You can add up to three drivers and can change these at any time.
          </p>
        </div>
      </div>

      <!-- Servicing -->
      <div class="bg-white p-6 rounded-lg shadow flex gap-4 items-start">
        <img src="Logoes/service.png" alt="Servicing" class="w-6 h-6 mt-1" style="width: 48.128395080566406px; height: 52px;"  />
        <div>
          <div class="text-base md:text-lg font-bold text-black">Servicing and MOTs</div>
          <p class="text-sm text-gray-700 mt-1">
            We’ll cover your regular services and routine repairs, to keep your vehicle running perfectly.
          </p>
        </div>
      </div>

      <!-- Breakdown -->
      <div class="bg-white p-6 rounded-lg shadow flex gap-4 items-start">
        <img src="Logoes/breakdown.png" alt="Breakdown" class="w-6 h-6 mt-1" style="width: 48.128395080566406px; height: 52px;" />
        <div>
          <div class="text-base md:text-lg font-bold text-black">Breakdown cover</div>
          <p class="text-sm text-gray-700 mt-1">
            We’ll give you breakdown cover so you can travel with peace of mind. If you get a car or a WAV/ Wheelchair Accessible Vehicle, you’ll get RAC cover.
          </p>
        </div>
      </div>

      <!-- EV Support -->
      <div class="bg-white p-6 rounded-lg shadow flex gap-4 items-start">
        <img src="Logoes/ev-car.png" alt="EV" class="w-6 h-6 mt-1" style="width: 48.128395080566406px; height: 52px;" />
        <div>
          <div class="text-base md:text-lg font-bold text-black">Support with your EV</div>
          <p class="text-sm text-gray-700 mt-1">
            We’ll arrange a home chargepoint and a standard installation as part of your lease, or give you access to the bp pulse network of over 9,000 public chargepoints.
            <a href="#" class="text-blue-600 underline text-gray-700">This depends on a few things.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
