<div class="w-full bg-[#F8FAFC] py-8 font-sans">
  <div class="max-w-screen-2xl mx-auto  w-[1242px]">
    <h1 class="text-4xl font-bold mb-8">Jobs and Careers</h1>

    <div class="grid grid-cols-1 lg:grid-cols-[305px_1fr] gap-3">
      <!-- Left Sidebar Cards -->
      <div class="space-y-2">
        <div class="border border-white hover:border-gray-400 rounded-lg p-4 h-[166px] bg-[#FFFFFF] transition-colors duration-200">
          <h2 class="font-bold text-lg mb-1">Sales Executive</h2>
          <div class="flex items-center text-sm text-gray-600 gap-1 h-[22px] w-[63px] border border-[#DCDFE5] rounded-full pl-1 pr-1">
             <img src="Logoes/location.png" alt="Location" class="h-[14px]" />
            <span class="">Derby</span>
          </div>

          <div class="flex gap-3 items-center text-sm mt-2">
            <div class="border border-gray-200 rounded w-[156px] h-[22px] bg-[#ECEDEF]">£25,000 - £58,000 a year</div>
            <div class="text-black  h-[22px] bg-[#ECEDEF] border border-gray-200 rounded">Full-Time</div>
          </div>
          <div class="text-sm  mt-2  border border-gray-200 rounded bg-[#ECEDEF] w-[134px] h-[22px] text-[12px] text-black">Weekend Availability</div>
        </div>

        <div class="border border-white hover:border-gray-400 rounded-lg p-4  h-[166px] bg-[#FFFFFF]">
          <h2 class="font-bold text-lg mb-1">Sales Executive</h2>
          <div class="flex items-center text-sm text-gray-600 gap-1 h-[22px] w-[63px] border border-[#DCDFE5] rounded-full pl-1 pr-1">
             <img src="Logoes/location.png" alt="Location" class="h-[14px]" />
            <span class="">Derby</span>
          </div>
          <div class="flex gap-3 items-center text-sm mt-2">
            <div class="border border-gray-200 rounded w-[156px] h-[22px] bg-[#ECEDEF]">£25,000 - £58,000 a year</div>
            <div class="text-black  h-[22px] bg-[#ECEDEF] border border-gray-200 rounded">Full-Time</div>
          </div>
          <div class="text-sm  mt-2  border border-gray-200 rounded bg-[#ECEDEF] w-[134px] h-[22px] text-[12px] text-black">Weekend Availability</div>
        </div>

        <div class="border border-white hover:border-gray-400 rounded-lg p-4  h-[190px] bg-[#FFFFFF] gap-[40px]">
          <h2 class="font-bold text-lg mb-1">Commercial Vehicle Sales Executive</h2>
        <div class="flex items-center text-sm text-gray-600 gap-[8px] h-[22px] w-[65px] border border-[#DCDFE5] rounded-full pl-1 pr-1">
             <img src="Logoes/location.png" alt="Location" class="h-[14px]" />
            <span class="">Derby</span>
          </div>
          <div class="flex gap-3 items-center text-sm mt-2">
            <div class="border border-gray-200 rounded w-[156px] h-[22px] bg-[#ECEDEF]">£25,000 - £58,000 a year</div>
            <div class="text-black  h-[22px] bg-[#ECEDEF] border border-gray-200 rounded">Full-Time</div>
          </div>
          <div class="text-sm  mt-2  border border-gray-200 rounded bg-[#ECEDEF] w-[134px] h-[22px] text-[12px] text-black ">Weekend Availability</div>
        </div>
      </div>

      <!-- Main Job Detail Panel -->
      <div class="border border-white rounded-lg  p-6 bg-[#FFFFFF]">
        <div class="flex justify-between items-start flex-wrap gap-4 border-b pb-[20px]">
          <div class="flex items-start space-x-4 ">
            <div class="w-[116.45px] h-[44.15px] bg-[#54585F] rounded flex items-center justify-center">
                <img src="Logoes/parkway.png" alt="Company Logo" class=" rounded bg-[#54585F] w-[95.45px] h-[28.15px] pb-[2px]" />
            </div>
            <div>
              <h2 class="font-bold text-xl">Sales Executive</h2>
              <div class="text-sm text-gray-600 pb-[2px]">Parkway Volkswagen</div>
            
              <div class="text-sm mt-1 pb-[4px]">£25,000 - £58,000 a year</div>
               <div class="flex items-center text-sm text-gray-600 gap-1 h-[22px] w-[63px] border border-[#DCDFE5] rounded-full pl-1 pr-1 ">
             <img src="Logoes/location.png" alt="Location" class="h-[14px]" />
            <span class="">Derby</span>
          </div>
            </div>
          </div>
          <button class="bg-[#052B6B] hover:bg-blue-700 text-white px-4 py-2 rounded-lg">Apply Now</button>
        </div>

        <div class="mt-6 space-y-4 text-sm text-gray-800">
            <div> 
                A hugely rewarding role with a very realistic On Target Earnings of £58,000+, uncapped earnings potential and industry-leading company benefits!
Due to internal promotions and stock expansion, we have a lucrative opportunity to join our Top Performing Sales Team here at Parkway Volkswagen Derby!
You will be responsible for selling both brand new & used vehicles, all the while providing exceptional customer service throughout the customer journey to ensure customer loyalty and referrals.
We are looking for that exceptional candidate who embodies exemplary organisation skills and can thrive off pressure in a driven, profit based selling environment!
Sales experience isn't necessary, however a drive to succeed along with an entrepreneurial spirit definitely is!
A previous commission-based role is preferred, and experience from other industries will always be considered.
            </div>
         
          <p class="text-[#001a44] font-bold text-[15px]">Parkway Volkswagen offers an industry leading earning potential with our top sales executives earning north of £82,000 per annum!</p>
          <div>
            You will learn from the best in the industry, and a first-class training program is provided with our own Parkway and Volkswagen UK Accreditation. We also offer 24 days holiday entitlement as standard, along with the statutory bank holidays. We have recently introduced a Long Service Holiday Reward where you'll also receive an extra day annual leave for every 2 years of service!
The ideal candidate must have a degree of flexibility and be able to work most weekends with days off in the week. We offer a 5.5 day on / 2.5 day off rolling rota to ensure our sales teams get two full days off together with a 1pm start on your first day back to the business. Your usual hours will be 08:45am - 6:00pm on weekdays with one late day until 7:00pm during the week.
To achieve this, you will need to be someone driven to succeed in a target based sales environment, who is prepared to go that extra mile for your customers. Do this, and you will ensure your success in a business that's built on the foundations of rewarding our best people and promoting from within.
A company vehicle will also be provided on our heavily subsidised new car scheme, with a brand new Volkswagen every 6 months, and the opportunity for your family to have one too! 
A
          </div>
          <p class="text-[#001a44] font-bold text-[15px]">A full UK driving licence is required for this position.</p>
          <p class="text-[#001a44] font-bold text-[15px]">If this sounds like the kind of opportunity you can sink your teeth in to then apply today! Immediate start is available!</p>

          <ul class="list-disc list-inside space-y-1">
            <li><span class="font-semibold">Job Type:</span> Full-time</li>
            <li>Pay:£25,000.00-£58,000.00 per year</li>
          </ul>

          <div>
            <span class="font-semibold">Additional pay:</span>
            <ul class="list-disc list-inside ml-4">
              <li>Bonus scheme</li>
            </ul>
          </div>

          <div>
            <span class="font-semibold">Benefits:</span>
            <ul class="list-disc list-inside ml-4">
              <li>Company pension</li>
              <li>Employee discount</li>
              <li>Free parking</li>
              <li>Referral programme</li>
              <li>Work from home</li>
            </ul>
          </div>

          <div>
            <span class="font-semibold">Application question(s):</span>
            <ul class="list-disc list-inside ml-4">
              <li>Why have you applied for this job?</li>
              <li>What can you bring to Parkway Volkswagen?</li>
              <li>How long will it take you to travel from your home to the site you have applied for?</li>
            </ul>
          </div>

          <p><span class="font-semibold">Work Location:</span> In person</p>
          <p><span class="font-semibold">Reference ID:</span> SE Derby</p>
        </div>
      </div>
    </div>
  </div>
</div>
