        <div class="" class="">
            <div class="flex flex-col md:flex-row w-full  pt-6 ">
                <!-- Left Side -->
                <div class="flex flex-col w-full md:w-6/12 bg-[#F6F7F9]">
                    <div class="relative w-full h-full flex flex-col">
                        <div class="relative w-full">
                            <img src="Logoes\polo-car1.png" class="w-[717px] h-[460px] "
                                alt="Photo1" />
                                <!-- container that centers horizontally & vertically -->
                                 <div class="flex items-center justify-center h-40">
                                    <div class="flex items-center justify-center gap-3">
                                        <img src="" alt="">
                                        <img src="Logoes/Ellipse1-blue.png"  alt="dot 1" class="h-6 w-6 object-contain">
                                        <img src="Logoes/Ellipse1-gray.png"  alt="dot 2" class="h-6 w-6 object-contain">
                                        <img src="Logoes/Ellipse1-gray.png"  alt="dot 3" class="h-6 w-6 object-contain">
                                        <img src="Logoes/Ellipse1-gray.png"  alt="dot 4" class="h-6 w-6 object-contain">
                                    </div>
                                 </div>


                            <img src="\Logoes\Heart.png" alt="angle"
                                class="absolute -translate-y-2/4 w-[30px] h-[30px] right-0 top-2/4" />

                            <img src="\Logoes\Frame 1321315548.png" alt="angle"
                                class="absolute translate-x-[-5%] w-[24px] h-[24px] right-[4px] top-[5%]" />
                        </div>

                        <!-- Icons Section -->
                        <div class="w-full flex justify-center py-3  bg-[#ecedef] mt-auto">
                            <div class="flex gap-6 flex-wrap justify-center">
                                <!-- Icon 1 -->
                                <div class="flex flex-col items-center gap-2">
                                    <div class="relative w-16 h-16">
                                        <img src="\Logoes\image 15.png" class="w-16 h-16 rounded-full"
                                            style="background:rgba(0,0,0,0.2)" />
                                        <div class="absolute inset-0 flex justify-center items-center">
                                            <img src="\Logoes\u_play.png" />
                                        </div>
                                    </div>
                                    <div class="text-[#54585F] text-sm sm:text-base">Video</div>
                                </div>

                                <!-- Icon 2 -->
                                <div class="flex flex-col items-center gap-2">
                                    <div class="relative w-16 h-16">
                                        <img src="\Logoes\image 15.png" class="w-16 h-16 rounded-full"
                                            style="background:rgba(0,0,0,0.2)" />
                                        <div class="absolute inset-0 flex justify-center items-center">
                                            <img src="\Logoes\fi_1758455.png" />
                                        </div>
                                    </div>
                                    <div class="text-[#54585F] text-sm sm:text-base">360 View</div>
                                </div>

                                <!-- Icon 3 -->
                                <div class="flex flex-col items-center gap-2">
                                    <img src="\Logoes\Exterior.png" class="w-16 h-16 rounded-full"
                                        style="background:rgba(0,0,0,0.2)" />
                                    <div class="text-black text-sm sm:text-base">Exterior</div>
                                </div>

                                <!-- Icon 4 -->
                                <div class="flex flex-col items-center gap-2">
                                    <img src="\Logoes\image.png" class="w-16 h-16 rounded-full"
                                        style="background:rgba(0,0,0,0.2)" />
                                    <div class="text-[#54585F] text-sm sm:text-base">Interior</div>
                                </div>

                                <!-- Icon 5 -->
                                <div class="flex flex-col items-center gap-2">
                                    <img src="\Logoes\image 15 (2).png" class="w-16 h-16 rounded-full"
                                        style="background:rgba(0,0,0,0.2)" />
                                    <div class="text-[#54585F] text-sm sm:text-base">Features</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Side -->
                <div class="w-full md:w-6/12 flex flex-col p-4 sm:p-6 rounded-2xl bg-white gap-6">
                    <div class="w-full flex flex-col gap-4 h-full">
                        <!-- Title -->
                        <div class="flex flex-col gap-2">
                            <div
                                class="text-[#001A44] font-bold text-2xl sm:text-3xl md:text-4xl lg:text-[48px] leading-snug">
                                Volkswagen Polo
                            </div>
                            <div class="text-[#54585F] font-semibold text-base sm:text-lg md:text-xl">
                                Polo 35kWh 5dr Auto (135 PS)
                            </div>
                        </div>

                        <!-- Features Grid -->
                        <div class="grid grid-cols-3 border border-[#ECEDEF]  ">
                            <!-- Row 1 -->
                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Power</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">180-190 PS</span>
                            </div>

                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Fuel</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">Diesel</span>
                            </div>

                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Fuel</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">Diesel</span>
                            </div>




                            <!-- Row 2 -->
                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Body Type</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">Hatchback</span>
                            </div>

                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Transmission</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">Matic</span>
                            </div>

                            <div class="flex flex-col px-2 py-3 border-r border-b border-[#ecedef]">
                                <span class="text-[#54585F] font-[Figtree] font-semibold text-[14px] text-sm sm:text-base">Warranty</span>
                                <span class="text-[#000000] font-[Figtree] font-semibold text-[18px]">3 Years</span>
                            </div>
                        </div>






                        <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 pt-[93px]">
                        
                            <!-- EMI Box -->
                            <div class="border border-[#ECEDEF]  p-2 flex items-center justify-between ">
                                <div>
                                    <p class="text-[14px] font-figtree text-[#000000]">EMI Starts at</p>
                                    <p class="font-figtree font-bold text-[20px] text-[#000000]">£200.40 p/m</p>
                                </div>
                                <button class="font-figtree font-semibold text-[#000000] text-[16px]">
                                    Calculate EMI →
                                </button>
                            </div>
                        
                            <!-- Price Box -->
                            <div class="border border-[#ECEDEF]  p-2 flex items-center justify-between">
                                <div>
                                    <p class="text-[14px] font-figtree text-[#000000]">Our Price</p>
                                    <p class="font-figtree font-bold text-[20px] text-[#000000]">£16,000 <span class="font-figtree text-[12px] text-[#54585F]">+VAT</span>
                                    </p>
                                </div>
                            </div>
                        
                        </div>





                        





                        <!-- Price Section -->
                        <!-- <div class="flex flex-col gap-4">
                            <div
                                class="flex justify-between items-center border border-[#ecedef] p-3 rounded-md w-full">
                                <div>
                                    <p class="text-sm">EMI Starts at</p>
                                    <p class="font-bold">£200.40 p/m</p>
                                </div>
                                <button class="text-sm sm:text-base font-semibold">
                                    Calculate My Finance <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>

                            <div class="border border-[#ecedef] bg-[#f6f7f9] p-3 rounded-md w-full">
                                <p class="text-sm">Our Price</p>
                                <div class="flex items-center gap-2">
                                    <p class="text-xl font-bold">£16,000</p>
                                    <span class="text-xs text-[#54585F]">+VAT</span>
                                    <span class="bg-[#fff8de] text-[#B58D01] text-xs font-bold px-2 py-1 rounded">
                                        Save £200
                                    </span>
                                </div>
                            </div>
                        </div> -->

                        <!-- Buttons -->
                        <div class="flex flex-col sm:flex-row gap-4 w-full mt-auto ">
                            <button class="flex-1 bg-[#052b6b] text-white font-semibold px-4 py-3 ">
                                Request Test Drive
                            </button>
                            <button
                                class="flex-1 bg-[#052b6b] text-white font-semibold px-4 py-3 ">
                                Request a Quote
                            </button>
                        </div>
                        <button class="border-2 border-[#001A44] text-[#052B6B] font-semibold px-4 py-3 w-full">
                            Book an Appointment
                        </button>
                    </div>
                </div>
            </div>

            








            


            