<div class="bg-[url('/Logoes/Union.png')] bg-cover bg-center h-[900px]">
    <div class="pt-[11%] pl-[3%] pr-[3%]">
        <div class="space-y-[40px]">
            <div class="space-y-[16px]">
                <div class="flex items-center justify-center">
                    <span
                        class="font-bold text-[48px] leading-[1.07] tracking-[0em] mb-0 align-middle text-white whitespace-nowrap">
                        Latest Motability Offers
                    </span>
                </div>
                <div class="flex items-center justify-center">
                    <span
                        class="font-normal text-[16px] leading-[1.4] tracking-[0] align-middle text-white whitespace-nowrap">
                        Choose from trusted brands available on the Motability Scheme.
                    </span>
                </div>
            </div>
            <div class="space-y-[16px]">
                <div>
                    <div class="flex gap-[1.5%] text-[16px] text-[#ECEDEF] w-full">
                        <div class="w-[15%] pl-[2%]">Car Name</div>
                        <div class="w-[21.2%]">Weekly Report</div>
                        <div class="w-[21.2%]">Advance Payment</div>
                        <div class="w-[21.2%]">Key Features</div>
                        <div class="w-[15%]"></div>
                    </div>
                </div>
                <div>
                    <div class="w-full h-[75px] bg-white/10 rounded-[8px] flex">
                        <div class="flex gap-[1.5%] w-full items-center">
                            <div class="w-[15%] pl-[1%] flex items-center">
                                <div class="flex space-x-[8px] items-center">
                                    <div
                                        class="w-[32px] h-[32px] rounded-full overflow-hidden flex items-center justify-center bg-white">
                                        <img src="Logoes/image-10.png" alt="KIA"
                                            class="w-full h-full object-contain mix-blend-darken" />
                                    </div>
                                    <div class="text-[16px] text-white font-bold">Kia Sportage</div>
                                </div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£0</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£499</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">Petrol Hybrid, Sat Nav, Rear Camera
                                </div>
                            </div>
                            <div class="w-[15%] flex items-center">
                                <button
                                    class="self-center w-[114px] h-[43px] rounded-[8px] border border-white px-[12px] py-[12px] gap-[8px] text-sm text-white flex items-center justify-center font-semibold">
                                    View Offer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-full h-[75px] bg-white/10 rounded-[8px] flex">
                        <div class="flex gap-[1.5%] w-full items-center">
                            <div class="w-[15%] pl-[1%] flex items-center">
                                <div class="flex space-x-[8px] items-center">
                                    <div
                                        class="w-[32px] h-[32px] rounded-full overflow-hidden flex items-center justify-center bg-white">
                                        <img src="Logoes/image-2.png" alt="KIA"
                                            class="w-full h-full object-contain mix-blend-darken" />
                                    </div>
                                    <div class="text-[16px] text-white font-bold">Nissan Qashqai</div>
                                </div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£0</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£499</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">Auto, Petrol Mild Hybrid, 360<sup
                                        class="text-[9px]">0</sup> Camera
                                </div>
                            </div>
                            <div class="w-[15%] flex items-center">
                                <button
                                    class="self-center w-[114px] h-[43px] rounded-[8px] border border-white px-[12px] py-[12px] gap-[8px] text-sm text-white flex items-center justify-center font-semibold">
                                    View Offer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-full h-[75px] bg-white/10 rounded-[8px] flex">
                        <div class="flex gap-[1.5%] w-full items-center">
                            <div class="w-[15%] pl-[1%] flex items-center">
                                <div class="flex space-x-[8px] items-center">
                                    <div
                                        class="w-[32px] h-[32px] rounded-full overflow-hidden flex items-center justify-center bg-white">
                                        <img src="Logoes/image-1.png" alt="KIA"
                                            class="w-full h-full object-contain mix-blend-darken" />
                                    </div>
                                    <div class="text-[16px] text-white font-bold">Toyota Yaris Cross</div>
                                </div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£0</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£499</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">Compact SUV, Low Running Costs
                                </div>
                            </div>
                            <div class="w-[15%] flex items-center">
                                <button
                                    class="self-center w-[114px] h-[43px] rounded-[8px] border border-white px-[12px] py-[12px] gap-[8px] text-sm text-white flex items-center justify-center font-semibold">
                                    View Offer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-full h-[75px] bg-white/10 rounded-[8px] flex">
                        <div class="flex gap-[1.5%] w-full items-center">
                            <div class="w-[15%] pl-[1%] flex items-center">
                                <div class="flex space-x-[8px] items-center">
                                    <div
                                        class="w-[32px] h-[32px] rounded-full overflow-hidden flex items-center justify-center bg-white">
                                        <img src="Logoes/image-3.png" alt="KIA"
                                            class="w-full h-full object-contain mix-blend-darken" />
                                    </div>
                                    <div class="text-[16px] text-white font-bold">Audi A9</div>
                                </div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£0</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">£499</div>
                            </div>
                            <div class="w-[21.2%] flex items-center">
                                <div class="text-[16px] text-white font-semibold">Auto, Petrol Mild Hybrid, 360<sup
                                        class="text-[9px]">0</sup> Camera
                                </div>
                            </div>
                            <div class="w-[15%] flex items-center">
                                <button
                                    class="self-center w-[114px] h-[43px] rounded-[8px] border border-white px-[12px] py-[12px] gap-[8px] text-sm text-white flex items-center justify-center font-semibold">
                                    View Offer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex items-center justify-center">
                    <button
                        class="w-[207px] h-[50px] bg-[#FF5500] rounded-[8px] border border-white text-white text-[16px] font-semibold flex items-center justify-center">
                        View All Offers by Brand
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>