<div class=" bg-[#000000] px-0 py-8 mt-[67px]">
    
  <div class=" mx-auto bg-black px-[7%] py-12">
    <div>
        <img src="Logoes/down_arrow1.png" alt="Arrow" class="w-[32px] float-right h-[32px]  mt-[2%]">
    <h1 class="font-figtree font-bold text-[#FFFFFF] text-[48px] ">Vehicle Details</h1>

     </div>
    
    <h2 class="text-[#B9BDC4] font-figtree font-semibold text-lg mb-8">Polo Life 1.0 80PS 5-speed Manual 5 Door</h2>

    <!-- WLTP Consumption Section -->
    <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
  <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
    <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">
      WLTP Consumption
    </h3>
  </div>
  <div class="px-2 py-2">
    <div class="grid grid-cols-4 gap-4 text-white font-light text-sm mb-1">
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Consumption Low</div>
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Consumption Medium</div>
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Consumption High</div>
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Consumption Extra High</div>
    </div>
    <div class="grid grid-cols-4 gap-4 text-white text-base font-medium mb-3">
      <div class="text-[18px] ">43.9 mpg</div>
      <div class="text-[18px]">57.9 mpg</div>
      <div class="text-[18px]">62.0 mpg</div>
      <div class="text-[18px]">50.4 mpg</div>
      
    </div>
  </div>

  <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
  </div>
   <div class="px-2 py-2">
    <div class="grid grid-cols-4 gap-4 text-white font-light text-sm mb-1">
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Consumption Combined</div>
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">CO₂ emissions - combined</div>
    </div>
    <div class="grid grid-cols-4 gap-4 text-white text-base font-medium mb-3">
      <div class="text-[18px]">53.9 mpg ⁠</div>
      <div class="text-[18px]">119 g/km</div>
      
    </div> 
  </div>
</div>



    <!-- Engine Section -->
    <div class="bg-[#DCDFE51A] overflow-hidden  mb-4 p-2">
      <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
        <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">Engine</h3>
      </div>
      <div class="grid grid-cols-3 gap-4 px-2 py-4 text-white">
        <div>
          <p class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Cubic Capacity, litres / cc</p>
          <p class="text-[18px]">999</p>
        </div>
        <div>
          <p class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Maximum power</p>
          <p class="text-[18px]">59 kW</p>
        </div>
        <div>
          <p class="font-figtree font-semibold text-[14px]  text-[#FFFFFF]">Maximum torque</p>
          <p class="text-[18px]">93 Nm / 3700 - 3900 1/min</p>
        </div>
      </div>
    </div>


  <!-- Weight Section -->
 <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
  <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
    <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">
      Weight
    </h3>
  </div>
  <div class="px-2 py-2">
    <div class="grid grid-cols-4 gap-4 text-white font-light text-sm mb-1">
      <div class="font-figtree font-semibold   text-[#FFFFFF]">Unladen weight</div>
      <div class="font-figtree font-semibold   text-[#FFFFFF]">Gross vehicle weight</div>
      <div class="font-figtree font-semibold   text-[#FFFFFF]">Front axle load limit (kg)</div>
      <div class="font-figtree font-semibold   text-[#FFFFFF]">Rear axle load limit (kg)</div>
    </div>
    <div class="grid grid-cols-4 gap-4 text-white text-base font-medium mb-3">
      <div class="text-[18px] ">1,143 kg</div>
      <div class="text-[18px]">1,600 kg</div>
      <div class="text-[18px]">850 kg</div>
      <div class="text-[18px]">800 kg</div>
      
    </div>
  </div>

  <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
  </div>
   <div class="px-2 py-2">
    <div class="grid grid-cols-4 gap-4 text-white font-light text-sm mb-1">
      <div class="font-figtree font-semibold text-[14px]  text-[#FFFFFF]">Trailer load limit – Unbraked KG</div>
      <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Towbar load limit – KG</div>
      <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Trailer load limit – Braked 12% incline – KG</div>
    </div>
    <div class="grid grid-cols-4 gap-4 text-white text-base font-medium mb-3">
      <div class="text-[18px]">1,143 kg ⁠</div>
      <div class="text-[18px]">1,600 kg</div>
      <div class="text-[18px]">850 kg</div>
    </div> 
  </div>
</div>

    <!-- Dimensions - Exterior Section -->
    <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
      <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
        <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">Dimensions - Exterior</h3>
      </div>
      <div class="grid grid-cols-4 gap-4 px-6 py-4 text-white">
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Unladen weight</p>
          <p class="text-[18px]">1,600 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Gross vehicle weight</p>
          <p class="text-[18px]">1,600 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Front axle load limit (kg)</p>
          <p class="text-[18px]">850 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Rear axle load limit (kg)</p>
          <p class="text-[18px]">800 kg</p>
        </div>
      </div>
    </div>

    <!-- Performance Section -->
    <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
      <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
        <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">Performance</h3>
      </div>
      <div class="grid grid-cols-4 gap-4 px-6 py-4 text-white">
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Unladen weight</p>
          <p class="text-[18px]">1,143 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Gross vehicle weight</p>
          <p class="text-[18px]">1,600 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Front axle load limit (kg)</p>
          <p class="text-[18px]">850 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Rear axle load limit (kg)</p>
          <p class="text-[18px]">800 kg</p>
        </div>
      </div>
    </div>

    <!-- Dimensions - Interior Section -->
    <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
      <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
        <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">Dimensions - Interior</h3>
      </div>
      <div class="grid grid-cols-4 gap-4 px-6 py-4 text-white">
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Unladen weight</p>
          <p class="text-[18px]">1,143 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Gross vehicle weight</p>
          <p class="text-[18px]">1,600 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Front axle load limit (kg)</p>
          <p class="text-[18px]">850 kg</p>
        </div>
        <div>
          <p class="font-figtree font-semibold   text-[#FFFFFF]">Rear axle load limit (kg)</p>
          <p class="text-[18px]">800 kg</p>
        </div>
      </div>
    </div>
  </div>
</div>






    <!-- Weight Section -->
    <!-- <div class="bg-[#DCDFE51A] overflow-hidden mb-4 p-2">
      <div class="border-b border-[#66696c] px-2 py-4 flex items-center">
        <h3 class="text-[#FFFFFF] text-[24px] font-figtree font-bold text-lg">Weight</h3>
      </div>
      <div class="px-2 py-4">
        <div class="grid grid-cols-4 gap-4 text-white text-xs font-light mb-1">
          <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Unladen weight</div>
          <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Gross vehicle weight</div>
          <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Front axle load limit (kg)</div>
          <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Rear axle load limit (kg)</div>
        </div>
        <div class="grid grid-cols-4 gap-4 text-white font-medium text-base mb-3">
          <div class="text-[18px]">1,143 kg</div>
          <div class="text-[18px]">1,600 kg</div>
          <div class="text-[18px]">850 kg</div>
          <div class="text-[18px]">800 kg</div>
        </div>

        <div class="border-b border-[#66696c] px-2 py-2 flex items-center p-2">
        </div>
   <div class="px-2 py-2">
    <div class="grid grid-cols-4 gap-4 text-white font-light text-sm mb-1">
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Trailer load limit - Unbraked KG</div>
      <div class="font-figtree font-semibold text-[14px] text-[#FFFFFF]">Towbar load limit – KG</div>
      <div class="font-figtree font-semibold  text-[14px] text-[#FFFFFF]">Trailer load limit – Braked 12% incline – KG</div>
    </div>
    <div class="grid grid-cols-4 gap-4 text-white text-base font-medium mb-3">
      <div class="text-[18px]">1,143 kg⁠</div>
      <div class="text-[18px]">11,600 kg</div>
      <div class="text-[18px]">850 kg</div>
    </div> 
  </div>
      </div>
    </div> -->