<div class="w-full bg-white">
  <div class="motability-container flex flex-col lg:flex-row items-center justify-center
              px-6 lg:px-24 py-12 font-[Figtree] max-w-[1440px] 2xl:max-w-[1600px] mx-auto">

    <!-- Left Content -->
    <div class="motability-left flex-1 text-left">
      <div class="text-[48px] font-bold leading-[1.07] mb-8">
        <span>What is the</span><br/>
        Motability?
      </div>

      <div class="motability-text text-[#54585F] mb-8">
        The Motability Scheme enables eligible people with a disability to lease a <br>
        brand-new car, scooter or powered wheelchair by exchanging their <br>qualifying 
        mobility allowance. With over <span class="font-semibold">600,000 customers</span> across the <br>UK, 
        the scheme helps people stay mobile and independent, stress-free.
      </div>

      <div>
        <span class="check-btn inline-block text-center">Check Your Eligibility</span>
      </div>
    </div>

    <!-- Right Purple Blob -->
    <div class="motability-right flex-1 relative mt-20 lg:mt-0 flex justify-center">
      <img src="Logoes/Vector_blue.png" alt="Background blob" class="blob-img  lg:max-w-[500px] h-auto" />

      <div class="blob-content absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[390px] flex flex-col justify-center">
        <!-- Feature 1 -->
        <div class="feature flex items-start mb-12 transform translate-x-2 lg:translate-x-4 ">
          <img src="Logoes/white_circle.png" alt="Circle Icon" class="w-[52px] h-[52px] mr-4 ml-6 lg:ml-0" />
          <span class="text-[20px] lg:text-[24px] font-bold leading-[1.3]">
            Use your mobility allowance to lease a vehicle
          </span>
        </div>

        <!-- Feature 2 -->
        <div class="feature flex items-start mb-12 transform translate-x-2 lg:translate-x-4">
          <img src="Logoes/white_circle.png" alt="Circle Icon" class="w-[52px] h-[52px] mr-4" />
          <span class="text-[20px] lg:text-[24px] font-bold leading-[1.3]">
            Choose from a wide range <br> of makes and models
          </span>
        </div>

        <!-- Feature 3 -->
        <div class="feature flex items-start transform translate-x-2 lg:translate-x-4">
          <img src="Logoes/white_circle.png" alt="Circle Icon" class="w-[52px] h-[52px] mr-4" />
          <span class="text-[20px] lg:text-[24px] font-bold leading-[1.3]">
            Support at every step <br />of the way
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



