<div class=" bg-[#ECEDEF]">
  <div class="w-full mx-auto  pt-10 rounded-b-[24px] p-[7%] ">
  <div class="text-3xl font-bold mb-10 text-gray-800">Vehicle & Services</div>
 
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[20px]">

    <div class="relative w-[100%] h-[522.44px] overflow-hidden rounded-b-[24px] rounded-xl rounded-[24px]">
      <img src="Logoes/new-vechicals1.jpg" alt="New Vehicles" class="absolute object-cover w-[100%] h-[476.81px] rounded-b-[24px] rounded-[24px]" />
      <div class="absolute bottom-[45px] left-0  p-4 text-white bg-gradient-to-t from-black/90 to-black/70 w-[100%] h-[124px] gap-4 p-[24px_32px] rounded-b-[24px]">
        <div class=" font-semibold w-[188px] h-[36px] font-bold text-[30px] gap-[24px] mt-[-11px]">New Vehicles</div>
        <div class=" text-[16px] w-[100%] h-[44px]">Check out our current stock of electric, hybrid, petrol and diesel cars.</div>
      </div>
    </div>



    <div class="relative w-[100%] h-[522.44px] overflow-hidden rounded-b-[24px] rounded-xl rounded-[24px]">
      <img src="Logoes/used-vechicals.png" alt="New Vehicles" class="absolute object-cover w-[100%] h-[476.81px] rounded-b-[24px] rounded-[24px]" />
      <div class="absolute bottom-[45px] left-0  p-4 text-white bg-gradient-to-t from-black/60 to-black/50 w-[100%] h-[124px] gap-4 p-[24px_32px] rounded-b-[24px]">
        <div class=" font-semibold w-[188px] h-[36px] font-bold text-[30px] gap-[24px] mt-[-11px]">Used Vehicles</div>
        <div class=" text-[16px] w-[100%] h-[44px]">Choose from hundreds of carefully selected and prepared cars.</div>
      </div>
    </div>


    <div class="relative w-[100%] h-[522.44px] overflow-hidden rounded-b-[24px] rounded-xl">
      <img src="Logoes/Vehicles_Valuation1.jpg" alt="New Vehicles" class="absolute object-cover w-[100%] h-[476.81px] rounded-b-[24px] rounded-[24px]" />
      <div class="absolute bottom-[45px] left-0  p-4 text-white bg-gradient-to-t from-black/60 to-black/50 w-[100%] h-[124px] gap-4 p-[24px_32px] rounded-b-[24px]">
        <div class=" font-semibold w-[px] h-[36px] font-bold text-[30px] gap-[24px] mt-[-11px]">Vehicles Valuation</div>
        <div class=" text-[16px] w-[100%] h-[44px]">Who much your car valuation.</div>
      </div>
    </div>
   
  </div>
</div>
 
 
</div>