.boxcolor{
    background-color: #01235B !important;
}

.color{
    background-color: #052B6B;
}

.footer{
    background-color: #001A44;
}

.header{
    background-color: #e2f2ffd9;
}

.basecolor{
    background-color: #001a44;
    height: 56px;
    
}




