<div class="grid grid-cols-[60%_40%] bg-[radial-gradient(circle_at_center,_#052B6B,_#001A44)] mt-8">

    <div class=" w-full h-[511px] ">

        <div class="flex justify-center pt-14">
            <img src="Logoes/ribbon.png" alt="ribbon">
        </div>

        <h1 class="text-[45px] font-bold text-white text-start pt-4 pl-60">
            The Volkswagen<br />
            Approved Used Sale
        </h1>


        <div class="flex justify-start items-end ">
            <img src="Logoes/bluecar.png" alt="biuecar" class="h-[216px] ">
            <img src="Logoes/blackcar.png" alt="blackcar" class="h-[220px] blackcar">
            <img src="Logoes/whitecar.png" alt="whitecar" class="h-[237px] whitecar">
        </div>

        <img src="Logoes/banner2lines.png" alt="lines" class="bg-[#FFFFFF] h-[6px] w-full">
        <img src="Logoes/banner2lines.png" alt="lines" class="bg-[#FFFFFF] h-[6px] w-full">
        <img src="Logoes/banner2lines.png" alt="lines" class="bg-[#FFFFFF] h-[6px] w-full">
        <img src="Logoes/banner2lines.png" alt="lines" class="bg-[#FFFFFF] h-[6px] w-full">
        <img src="Logoes/banner2lines.png" alt="lines" class="bg-[#FFFFFF] h-[6px] w-full">
    </div>




    <div
        class=" w-[399px] h-[422px]  rounded-[8px] py-[24px] px-[16px]  mt-12 ml-16 text-[#FFFFFF]  flex flex-col gap-[22px] bg-white ">
        <div class="w-[367.5px]  flex justify-center items-center flex-col gap-[16px]">
            <p class="font-bold text-[34px] leading-[120%] text-[#001A44] text-center">Find Your perfect<br>car or van!
            </p>
        </div>




        <div class="flex justify-center gap-4 ">
            <button
                class="flex items-center w-[136px] h-[46px] pt-[10px] pr-[16px] pb-[10px] pl-[16px] gap-[8px] rounded-[100px] bg-[#052B6B] text-[#E6E6E6] text-sm font-medium shadow">
                <i class="fa-solid fa-plane fa-rotate-by" style="--fa-rotate-angle: 315deg;"></i>
                <span>New Cars</span>
            </button>


            <button
                class="flex items-center w-[139px] h-[46px] pt-[2px] pr-[16px] pb-[2px] pl-[16px] gap-[8px] rounded-[100px] border border-[#54585F] text-[#54585F] text-sm font-medium">
                <i class="fa-solid fa-car"></i>
                <b>Used Cars</b>
            </button>
        </div>



        <div class="  w-[367.5px] h-[206px] rounded-[8px] p-[12px] gap-[24px] text-white flex flex-col">

            <div class="w-[343.5px] h-[182px] gap-[16px] rounded-[8px]  gap-[24px]  text-white flex flex-col">


                <div class="space-y-3 ">
                    <div class="relative">
                        <select
                            class="w-[343.5px] h-[50px] rounded-[8px] border border-[#B9BDC4] pt-[8px] pr-[12px] pb-[8px] pl-[12px] text-sm text-[#000000] bg-[#FFFFFF] appearance-none focus:outline-none">
                            <option selected><b>Make</b></option>
                        </select>
                    </div>

                    <div class="relative">
                        <select
                            class="w-[343.5px] h-[50px] rounded-[8px] border border-[#B9BDC4] pt-[8px] pr-[12px] pb-[8px] pl-[12px] text-sm text-[#000000] bg-[#FFFFFF] appearance-none focus:outline-none ">
                            <option selected><b>Year</b></option>
                        </select>
                    </div>
                </div>



                <button
                    class="w-[343.5px] min-w-[150px] h-[50px] pt-[17px] pr-[12px] pb-[17px] pl-[12px] gap-[4px] bg-[#052B6B] text-[#FFFFFF] font-semibold rounded-[8px]">
                    View All Cars (1304)
                </button>

            </div>

        </div>