





<div class="relative bg-[radial-gradient(circle_at_center,_#052B6B,_#001A44)] w-full grid grid-cols-1 lg:grid-cols-[100%]">
  <!-- Content Section -->
  <div class="w-full lg:w-[60%] h-auto lg:h-[511px] flex flex-col items-center ">
    <!-- Ribbon -->
    <div class="flex justify-center pt-14 ">
        <img src="Logoes/ribbon.png" alt="ribbon">
    </div>
    

    <!-- Heading -->
    <h1 class="text-[26px] sm:text-[34px] md:text-[40px] lg:text-[45px] font-bold text-white text-center pt-4">
      The Volkswagen<br /> Approved Used Sale
    </h1>

    <!-- Car Image -->
    <div class="flex justify-center items-end mt-6 sm:mt-8">
      <img src="Logoes/threecars.png" alt="bluecar" class="h-[140px] sm:h-[180px] md:h-[200px] lg:h-[216px] ml-0 sm:ml-[-5%] z-20">
    </div>
      <div class="block lg:hidden z-0 w-full mt-[-80px] ">
    <img src="Logoes/banner2lines.png" alt="lines" class="w-full h-[100px] sm:h-[110px] lg:h-[120px]">
  </div>
  </div>

  <!-- Search Box -->
  <div class="relative z-10 w-[90%] sm:w-[399px] mx-auto mt-6 md:mt-12 lg:absolute lg:right-[4%] bg-white text-[#001A44] rounded-[8px] p-4 md:p-6 flex flex-col gap-5 ">
    <div class="text-center">
      <p class="font-bold text-[24px] sm:text-[30px] md:text-[34px] leading-tight">Find Your perfect<br>car or van!</p>
    </div>

    <!-- Buttons -->
    <div class="flex justify-center gap-3 flex-wrap">
      <button class="select flex items-center gap-[8px] px-4 py-2 w-[48%] sm:w-[136px] h-[42px] rounded-full bg-[#052B6B] text-[#E6E6E6] text-sm font-medium shadow">
        <i class="fa-solid fa-plane fa-rotate-by" style="--fa-rotate-angle: 315deg;"></i>
        <span>New Cars</span>
      </button>
      <button class="select flex items-center gap-[8px] px-4 py-2 w-[48%] sm:w-[139px] h-[42px] rounded-full border border-[#54585F] text-[#54585F] text-sm font-medium">
        <i class="fa-solid fa-car"></i>
        <b>Used Cars</b>
      </button>
    </div>

    <!-- Dropdowns -->
    <div class="flex flex-col gap-3">
      <select class="w-full h-[50px] rounded-[8px] border border-[#B9BDC4] px-3 text-sm bg-white focus:outline-none">
        <option selected><b>Make</b></option>
      </select>
      <select class="w-full h-[50px] rounded-[8px] border border-[#B9BDC4] px-3 text-sm bg-white focus:outline-none">
        <option selected><b>Year</b></option>
      </select>
    </div>

    <!-- CTA Button -->
    <button class="w-full h-[50px] bg-[#052B6B] text-white font-semibold rounded-[8px]">
      View All Cars (1304)
    </button>
<p class="hidden lg:block text-[12px] text-white absolute bottom-[-70px] right-[30%] opacity-70 mt-5 mb-10">
  T&C Apply. Volkswagen Finance.
</p>
    <!-- <p class="text-[12px] text-center text-[#001A44] opacity-70">T&C Apply. Volkswagen Finance.</p> -->
  </div>
  <!-- <p class="text-[12px]  flex justify-end mr-[14%]  mt-[-4%]  text-white opacity-70">T&C Apply. Volkswagen Finance.</p> -->
  <p class="text-[12px] text-white opacity-70 
     flex justify-center mt-5 mb-10
     lg:hidden ">
    T&C Apply. Volkswagen Finance.
  </p> 


 



 


  <!-- Bottom Lines Image -->
  <div class="hidden lg:block z-0 w-full mt-[-80px] sm:mt-[-100px] lg:mt-[-110px]">
    <img src="Logoes/banner2lines.png" alt="lines" class="w-full h-[100px] sm:h-[110px] lg:h-[120px]">
  </div>
</div>








  