<div class=" bg-[#F8FAFC] w-full py-8 font-sans  p-[85px]">
    <div class="w-full  mx-auto  h-[430px]  ">
  <!-- Heading -->
  <h2 class="text-3xl font-bold mb-6 w-full sm:w-[622px] text-[43px] mb-[35px]">Frequently Asked Questions</h2>

  <!-- Tabs with radio buttons -->
  <div class="flex space-x-6 border-b border-gray-300 mb-6 w-fit gap-[15px]">
    <input type="radio" name="faqTab" id="tab1" class="hidden peer/tab1" checked>
    <label for="tab1" class="pb-2 cursor-pointer text-gray-500 peer-checked/tab1:text-black peer-checked/tab1:border-black peer-checked/tab1:font-semibold border-b-2 border-transparent transition-all text-[16px]">Popular questions</label>

    <input type="radio" name="faqTab" id="tab2" class="hidden peer/tab2">
    <label for="tab2" class="pb-2 cursor-pointer text-gray-500 peer-checked/tab2:text-black peer-checked/tab2:border-black peer-checked/tab2:font-semibold border-b-2 border-transparent transition-all text-[16px]">Salaries</label>

    <input type="radio" name="faqTab" id="tab3" class="hidden peer/tab3">
    <label for="tab3" class="pb-2 cursor-pointer text-gray-500 peer-checked/tab3:text-black peer-checked/tab3:border-black peer-checked/tab3:font-semibold border-b-2 border-transparent transition-all text-[16px]">Hiring Process</label>

    <input type="radio" name="faqTab" id="tab4" class="hidden peer/tab4">
    <label for="tab4" class="pb-2 cursor-pointer text-gray-500 peer-checked/tab4:text-black peer-checked/tab4:border-black peer-checked/tab4:font-semibold border-b-2 border-transparent transition-all text-[16px]">Promotion</label>
  </div>


  
   <div class="h-[234px]">
    <!-- FAQ Item 1 -->
    <details class="border border-[#FFFFFF] rounded-lg mb-2 overflow-hidden group bg-[#FFFFFF]">
      <summary class="cursor-pointer flex justify-between items-center px-4 sm:px-6 py-4 font-bold text-[18px] sm:text-[20px] text-[20px] h-[56px]">
        What kind of roles are available?
        <img class="transition-transform duration-300 group-open:rotate-180 w-8 h-8 gap-[15px] rounded-[30px] p-[6px] bg-[#ECEDEF] opacity-100" src="Logoes/dropdown.png" />
      </summary>
      <div class="px-4 sm:px-6 pb-6 text-sm text-gray-700">
        <div class="text-[16px]">Not always — we welcome applications from all backgrounds and offer training for the right candidates.</div>
        <div class="mt-4">
          
        </div>
      </div>
    </details>

    <!-- FAQ Item 2 -->
    <details open class="border border-[#FFFFFF] rounded-lg mb-2 overflow-hidden group bg-[#FFFFFF]">
      <summary class="cursor-pointer flex justify-between items-center px-4 sm:px-6 py-4 font-bold text-[18px] sm:text-[20px] h-[56px]">
        Do I need previous automotive experience?
        <img class="transition-transform duration-300 group-open:rotate-180 w-8 h-8 gap-[15px] rounded-[30px] p-[6px] bg-[#ECEDEF] opacity-100" src="Logoes/dropdown.png" />
      </summary>
      <div class="px-4 sm:px-6 pb-6 text-sm text-gray-700">
        <div class="text-[16px]">Not always — we welcome applications from all backgrounds and offer training for the right candidates.</div>
        <div class="mt-4">
          
        </div>
      </div>
    </details>

    <!-- FAQ Item 3 -->
    <details class="border border-[#FFFFFF] rounded-lg mb-2 overflow-hidden group bg-[#FFFFFF]">
      <summary class="cursor-pointer flex justify-between items-center px-4 sm:px-6 py-4 font-bold text-[18px] sm:text-[20px] h-[56px]">
        How do I apply?
        <img class="transition-transform duration-300 group-open:rotate-180 w-8 h-8 gap-[15px] rounded-[30px] p-[6px] bg-[#ECEDEF] opacity-100" src="Logoes/dropdown.png" />
      </summary>
      <div class="px-4 sm:px-6 pb-6 text-sm text-gray-700">
        <div class="text-[16px]">Not always — we welcome applications from all backgrounds and offer training for the right candidates.</div>
        <div class="mt-4">
          
        </div>
      </div>
    </details>

    
  </div>

</div>

</div>