
<div class="bg-gray-100 flex flex-col items-center justify-center min-h-screen p-4 px-[240px]">

    <h1 class="text-4xl font-bold text-gray-800 mb-10 flex">Trusted Brands</h1>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-2 gap-x-{30px} mx-auto">
        
        <div class="w-[192.59px] h-[113.86px] rounded-[8px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square px-2">
            <img src="Logoes/image-1.png" alt="Toyota Logo" class="w-[81.01px] h-[50.24px] top-[31.81px] left-[59.79px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[208.59px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-2.png" alt="Nissan Logo" class="w-[66.14px] h-[53.4px] top-[30.23px] left-[275.81px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[417.18px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-3.png" alt="Audi Logo" class="w-[106.63px] h-[53.27px] top-[30.77px] left-[467.1.81px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[625.77px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-4.png" alt="Skoda Logo" class="w-[171.38px] h-[73.44px] top-[22.99px] left-[642.38px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[834.36px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-5.png" alt="Volkswagen Logo" class="w-[55.18px] h-[55.6px] top-[29.13px] left-[907.0px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[1042.95px] bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-6.png" alt="KIA Logo" class="w-[87.91px] h-[22.98px] top-[45.44px] left-[1099.29px] mix-blend-darken  object-contain">
        </div>
        
        <div class="w-[192.59px] h-[113.86px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-7.png" alt="Audi Logo" class="w-[106.63px] h-[53.27px] top-[30.77px] left-[49.92px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[208.59px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-8.png" alt="Skoda Logo" class="w-[171.38px] h-[73.44px] top-[22.99px] left-[225.2px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[417.18px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-9.png" alt="Volkswagen Logo" class="w-[55.18px] h-[55.6px] top-[29.13px] left-[489.89px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[625.77px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-10.png" alt="KIA Logo" class="w-[87.91px] h-[22.98px] top-[45.44px] left-[1099.29px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[834.36px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-11.png" alt="Hyundai Logo" class="w-[91.5px] h-[45.71px] top-[34.08px] left-[888.9px] mix-blend-darken  object-contain">
        </div>

        <div class="w-[192.59px] h-[113.86px] left-[1042.95px]  bg-[#ffffff] rounded-[8px] flex items-center justify-center p-6 aspect-square">
            <img src="Logoes/image-12.png" alt="BMW Logo" class="w-[72.96px] h-[58.28px] top-[30.23px] left-[1110.17px] mix-blend-darken  object-contain">
        </div>

    </div>
</div>
