<div>
<div class="bg-gradient-to-r from-[#F6F7F9] to-[#C9E5F8] flex flex-col md:flex-row items-center justify-between p-12 px-20">

  <div class="flex items-center gap-4">

    <img src="Logoes/Phone_logo.png" alt="Phone Icon" class="h-6 w-6" />


    <div>
      <h1 class="text-xl font-bold text-black">Got a question for us?</h1>
      <p class="text-gray-700">Make an enquiry with us here.</p>
    </div>
  </div>


  <a href="#" class="bg-[#052B6B] text-white px-6 py-2 rounded-sm mt-4 md:mt-0 hover:bg-blue-800 transition">
    Enquiry now
  </a>
</div>
</div>

<div class="bg-[#01235B]">
<div class="text-white px-20 py-8 text-sm">
  <div class="flex items-center justify-between gap-6 ">

   

    <div class="flex">
      <div><img src="Logoes/volkswagen.png " alt="Volkswagen logo" class="h-12  w-12"></div> 
      <div class="text-lg font-semibold leading-tight px-2">Parkways<br>Volkswagen</div>
    </div>

    <div class="flex gap-4 items-end">
     <i class="fa-brands fa-facebook-f"></i>
     <i class="fa-brands fa-x-twitter"></i>
     <i class="fa-brands fa-youtube"></i>
     <i class="fa-brands fa-tiktok"></i>
     <i class="fa-brands fa-instagram"></i>
    </div>
  </div>

  <hr class="border-[#FFFFB3] border-opacity-30 my-2">

<div class="py-3 gap-60 grid grid-cols-[1fr_1fr]">


    <div class="flex justify-between ">
    <div class="flex flex-col" >
      <div class="font-semibold text-white">Main Link</div>
      <a href="#" class=" py-2 text-[#DCDFE5]">Home</a>
     <a href="#" class=" py-2 text-[#DCDFE5]">New Vehicle</a>
     <a href="#" class=" py-2 text-[#DCDFE5]">Motability</a>
      <a href="#" class=" py-2 text-[#DCDFE5]">Motability Offers</a>
      <a href="#" class=" py-2 text-[#DCDFE5]">New Vehicle Offers</a>
    </div>

    <div class="flex flex-col">
      <div class="font-semibold text-white">Other Link</div>
      <a href="#" class=" py-2 text-[#DCDFE5]">About Us</a>
      <a href="#" class=" py-2 text-[#DCDFE5]">FCA Disclaimer</a>
     <a href="#" class=" py-2 text-[#DCDFE5]">Complaints Policy</a>
      <a href="#" class=" py-2 text-[#DCDFE5]">Careers</a>
    </div>
    </div>

    <div class="flex flex-col">
      <div class="font-semibold text-white">Policies</div>
      <a href="#" class=" py-2 text-[#DCDFE5]">Anti-Slavery & Human Trafficking Policy &nbsp;&nbsp;&nbsp;&nbsp; Cookie Policy
      </a>
      <a href="#" class=" py-2 text-[#DCDFE5]">Treating Customers Fairly
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Privacy Policy</a>
      <a href="#" class=" py-2 text-[#DCDFE5]">Vulnerable People Policy</a>
    </div>
  </div>

  <div class="border-[#FFFFB3] border-opacity-30 border py-5 px-3 rounded-sm font-normal">
    <p>
      Parkway Derby Limited is an Appointed Representative of Automotive Compliance Ltd, which is authorised and
      regulated by the Financial Conduct Authority (FCA No. 497010). Their role allows Parkway Derby Limited to act as a
      credit broker (not a lender), for introducing a limited number of lenders, and also act on behalf of the insurer
      for insurance distribution activities. They are a credit broker, not a lender, and at no point act as an agent or
      independent financial advisor.

      Their approach is to first introduce you to the manufacturer lender linked directly to the franchise you’re
      purchasing your vehicle from, who typically offers the best available package regarding interest rates and
      contributions. If that lender can’t make you an offer, they will then introduce you to another lender on their
      panel to secure a suitable finance agreement. Parkway Derby Limited earns a commission from the lender for making
      the introduction, which can be either fixed or a percentage of the amount you borrow. If the funding is via your
      vehicle purchase, different lenders pay different commission structures, and some franchise lenders also provide
      referral rates to fund marketing and training.

      They clarify that these commission payments from lenders do not impact the amount you’ll repay under your finance
      agreement. However, you will be contributing toward the commission paid to them via interest collected on
      repayments. Before proposing finance to a potential lender, Parkway Derby Limited will inform you of the likely
      commission amount and seek your consent to receive it. The exact commission rate you’ll receive is confirmed
      before signing your agreement. All finance applications are subject to status, terms and conditions apply, UK
      residents only, aged 18 or over. They also note that guarantees may be required.

      <br /><br />
      VAT No. 215006068 FCA No. 695033
    </p>
  </div>

  <br/>

  <div class="text-gray-500">
    Copyright &copy; 2025 Parkway All Rights Reserved
  </div>

</div>
</div>