<div class="w-full mx-auto  p-[7%] ">
  <section class="  text-center  h-[1180.99px] gap-6 opacity-100 mt-[-70px] ">
  <!-- Heading -->
  <div class="text-3xl  font-bold text-gray-800">Vehicle & Services</div>
  <p class="mt-2 text-[#54585F] text-sm max-w-xl mx-auto">
    A service — a transaction in which no physical goods are transferred from the seller, to the buyer.
    The benefits of such a service are held to
  </p>

  <!-- Grid Cards -->
  <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-[2rem]  ">
  
    <!-- New Vehicles -->
    <!-- <div class="relative w-full h-[504.97px] bg-[#ECEDEF] opacity-100" >
   
      <div
        class="absolute w-[367.33px] h-[95.08px] top-[55.61px] left-[118.35px] flex flex-col gap-[14.03px] items-center text-center">
        <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">New Vehicles</h2>
        <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.</p>
        <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
      </div>
  
  
 
      <div class="absolute w-full h-[166.98px] top-[337px] bg-[#CECECE] opacity-50 top-[337.99px] left-0
    [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
      </div>
  
      <img src="Logoes/new-vechicals1.png" alt="Car"
        class="absolute w-[452.63px] h-[286.98px] top-[206.87px] left-[75.49px] object-contain" />
  
    </div> -->




<!-- 
<div class="relative w-full  h-[504.97px] bg-[#E2F2FF] opacity-100 " >

  <div
    class="absolute w-[367.33px]  h-[95.08px] top-[55.61px] left-[118.35px] flex flex-col gap-[14.03px] items-center text-center ">
    <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">Used Vehicles</h2>
    <p class="text-[12.27px] text-[#000000]  leading-tight">Choose from hundreds of carefully selected and prepared cars.</p>
    <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
  </div>
  <div class="absolute w-full h-[166.98px] bg-[#B5CADA] opacity-50 top-[337.99px] left-0
  [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
  </div>

  <img src="Logoes/used-vechical-car.png" alt="Car"
    class="absolute w-[622px] h-[363px]  left-[137px] right-[50px]  object-contain top-[200px]" />

</div> -->




    <!-- <div class=" relative w-full h-[504px]  bg-[#FFF8DE]  p-6  flex flex-col justify-between items-start text-left top-[-30px]">
      <div
        class="absolute w-[367.33px]  h-[95.08px] top-[55.61px] left-[118.35px] flex flex-col gap-[14.03px] items-center text-center">
        <h2 class="text-[24px] font-bold text-[#001e60] leading-tight">New Vehicles</h2>
        <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.</p>
        <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold  mt-[7.01px]">Learn More &rsaquo;</a>
      </div>
      <div class="absolute w-full h-[166.98px] bg-[#DBD2AE] opacity-50 top-[337.99px] left-0
        [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
      </div>
      <img src="Logoes/vechical-valuation-car.png" alt="Car"
        class="absolute w-[449px] h-[337px]  right-0   object-contain top-[168px]" />
    </div> -->



<!-- new desiging -->

  <div class="relative w-full h-[504.97px] bg-[#ECEDEF] opacity-100">
  
    <div class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
      <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">New Vehicles</h2>
      <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.
      </p>
      <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
    </div>
  
  
  
    <div class="absolute w-full h-[166.98px] bottom-0 bg-[#CECECE] opacity-50  
      [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
    </div>
  
    <img src="Logoes/new-vechicals1.png" alt="Car"
      class="absolute w-full h-[286.98px] bottom-0 left-[10%] object-contain" />
  
  </div>






<div class="relative w-full h-[504.97px] bg-[#E2F2FF] opacity-100">

  <div class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
    <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">Used Vehicles</h2>
    <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.
    </p>
    <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
  </div>



  <div class="absolute w-full h-[166.98px] bottom-0 bg-[#B5CADA] opacity-50  
    [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
  </div>

  <img src="Logoes/used-vechical-car.png" alt="Car"
    class="absolute w-full h-[286.98px] bottom-0 left-[25%] mb-[-47px] object-contain" />

</div>






 <div class="relative w-full h-[504.97px] bg-[#FFF8DE] opacity-100" >
   
      <div
        class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
        <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">Vehicle Valuation</h2>
        <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.</p>
        <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
      </div>
  
  
 
      <div class="absolute w-full h-[166.98px] bottom-0 bg-[#DBD2AE] opacity-50  
    [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
      </div>
  
      <img src="Logoes/vechical-valuation-car.png" alt="Car"
        class="absolute w-full h-[286.98px] bottom-0 left-[14%] object-contain" />
  
    </div>


 <div class="relative w-full h-[504.97px] bg-[#EBFFF1] opacity-100" >
   
      <div
        class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
        <h2 class="text-[29.81px] font-bold text-[#001A44] leading-tight">Vans</h2>
        <p class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected and prepared cars.</p>
        <a href="#" class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</a>
      </div>
  
  
 
      <div class="absolute w-full h-[166.98px] bottom-0 bg-[#ADE2BD] opacity-50  
    [clip-path:polygon(0%_100%,0%_80%,100%_0%,100%_100%)]">
      </div>
  
      <img src="Logoes/vans.png" alt="Car"
        class="absolute w-full h-[286.98px] bottom-0 left-[16%] mb-[13px] object-contain" />
  
    </div>
  </div>
</section>

</div>