<div class="w-full mx-auto  px-[7%] py-[10%] 4">
   <section class="  text-center  h-[1180.99px] gap-6 opacity-100 mt-[-70px] ">
    <div class="text-3xl  font-bold text-gray-800">Vehicle & Services</div>
    <div class="mt-2 text-[#54585F] text-sm max-w-xl mx-auto">
    A service — a transaction in which no physical goods are transferred from the seller, to the buyer.
    The benefits of such a service are held to
    </div>
    <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-[2rem]">
      <div class="relative w-full h-[512px]  opacity-100">
        <div class="absolute inset-0 bg-[url('/Logoes/new-vechicals2.png')] bg-cover bg-center z-0">
          <div class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
            <div class="text-[29.81px] font-bold text-[#001A44] leading-tight">New Vechicals</div>
            <div class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected <br>and prepared cars.</div>
            <div class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</div>
          </div>
        </div>
      </div>



      <div class="relative w-full h-[512px]  opacity-100">
        <div class="absolute inset-0 bg-[url('/Logoes/used-vechical3.png')] bg-cover bg-center z-0">
          <div class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
            <div class="text-[29.81px] font-bold text-[#001A44] leading-tight">Used Vechicals</div>
            <div class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected <br>and prepared cars.</div>
            <div class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</div>
          </div>
        </div>
      </div>


      <div class="relative w-full h-[512px]  opacity-100">
        <div class="absolute inset-0 bg-[url('/Logoes/van2.png')] bg-cover bg-center z-0">
          <div class=" h-[95.08px] flex flex-col gap-[14.03px] items-center text-center pt-[10%]">
            <div class="text-[29.81px] font-bold text-[#001A44] leading-tight">Vans</div>
            <div class="text-[12.27px] text-[#000000] leading-tight">Choose from hundreds of carefully selected <br>and prepared cars.</div>
            <div class="text-[14.03px] text-[#052B6B] font-semibold font-medium mt-[7.01px]">Learn More &rsaquo;</div>
          </div>
        </div>
      </div>

    </div>
   </section>
</div>














