.basecolor{
    background-color: #001a44;
    height: 56px;
    
}

.facebook{
    height: 20px;
    width: px;
}

.twitter{
    height: 20px;
    width: 18px;
}

.linkedin{
    height: 20px;
    width: 20.4px;
}

.topcolor{
    background-color: #01235b;
}

.base2color{
    color: #FFFFFF;
}