<!-- <div>
    <div class="topcolor mt-2 px-20 flex flex-col">
        <div class="flex justify-between pt-10">
            <div class="flex items-center gap-2 pd-20">
                <img src="Logoes/volkswagen.png " alt="Volkswagen Logo" class="h-12 w-12 ">
                <div>
                    <p class="text-lg font-semibold leading-tight px-0 text-[#FFFFFF]">Parkway<br>Volkswagen</p>
                </div>
            </div>


            <div class="flex flex-col text-sm gap-[8px]">
                <a href="#" class="hover:text-white text-white">About us</a>
                <a href="#" class="hover:text-white text-white">FCA Disclaimer</a>
                <a href="#" class="hover:text-white text-white">Complaints Policy</a>
                <a href="#" class="hover:text-white text-white">Careers</a>
            </div>

            <div class="flex flex-col text-sm gap-[8px]">
                <a href="#" class="hover:text-white text-white">Anti-Slavery & Human Trafficking Policy</a>
                <a href="#" class="hover:text-white text-white">Treating Customers Fairly</a>
                <a href="#" class="hover:text-white text-white">Vulnerable People Policy</a>
                <a href="#" class="hover:text-white text-white">Cookie Policy</a>
                <a href="#" class="hover:text-white text-white">Privacy Policy</a>
            </div>

            <div class="bg-[#2d4779] py-10 px-10 rounded-xl w-full lg:w-80 text-center text-white space-y-3 flex flex-col">
                <div class="text-3xl">📞
                    
                </div>
                <p class="text-[34px] font-bold h-[41px] w-[363px] leading-[120%]">Got a question for us?</p>
                <p class="text-sm font-normal h-[22px] w-[327.71px] ">Make an enquiry with us here.</p>
                <button class="bg-[#002b5c] hover:bg-[#004080] px-[12px] py-[17px] w-[156px] justify-between rounded-md font-semibold">Enquiry now</button>
            </div>
        </div>

        <div class="text-[#B9BDC4] text-xs">
            Parkway Derby Limited is an Appointed Representative of Automotive Compliance Ltd who is authorised and
            regulated by the<br /> Financial Conduct Authority (FCA No. 497010). Automotive Compliance Ltd’s permissions
            as a
            Principal Firm allow Parkway Derby<br /> Limited to act as a credit broker, not a lender, for the
            introduction to
            a limited number of lenders, and to act as an… [READ MORE]
        </div>
        <br />
        <div class="text-[#B9BDC4] text-xs">
            VAT No. 215060668 FCA No. 695033
        </div>
        <br />

        <div class="flex flex-col">

        </div>

    </div>



    <div class="basecolor text-white px-20 py-2 flex items-center justify-between text-sm">


        <div class="flex items-center space-x-4">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>

        <div class="text-center base2color font-normal">&copy;2025 Parkway Volkswagen
        </div>

    </div>
</div> -->




<!-- second type -->
<div class="grid grid-cols-[60%_40%] topcolor mt-[-0.5px] pt-[50px] pb-[25px] px-[25px] ">
<div  class="space-y-10">
    <div class="grid grid-cols-[40%_30%_30%] pt-4 px-[25px]">

        <div class="flex gap-2">
            <img src="Logoes/volkswagen.png " alt="Volkswagen Logo" class="h-12 w-12 ">
            <div>
                <p class="text-lg font-semibold leading-tight px-0 text-[#FFFFFF]">Parkway<br>Volkswagen</p>
            </div>
        </div>


        <div class="flex flex-col text-sm gap-[8px]">
            <a href="#" class="hover:text-white text-white">About us</a>
            <a href="#" class="hover:text-white text-white">FCA Disclaimer</a>
            <a href="#" class="hover:text-white text-white">Complaints Policy</a>
            <a href="#" class="hover:text-white text-white">Careers</a>
        </div>

        <div class="flex flex-col text-sm gap-[8px] ml-[-50px]">
            <a href="#" class="hover:text-white text-white">Anti-Slavery & Human Trafficking Policy</a>
            <a href="#" class="hover:text-white text-white">Treating Customers Fairly</a>
            <a href="#" class="hover:text-white text-white">Vulnerable People Policy</a>
            <a href="#" class="hover:text-white text-white">Privacy Policy</a>
            <a href="#" class="hover:text-white text-white">Cookie Policy</a>
        </div>
     
      
    </div>
    <div class="text-[#B9BDC4] text-xs px-[25px] ">
        Parkway Derby Limited is an Appointed Representative of Automotive Compliance Ltd who is authorised and
        regulated by the<br /> Financial Conduct Authority (FCA No. 497010). Automotive Compliance Ltd’s permissions
        as a
        Principal Firm allow Parkway Derby Limited to act as a credit broker, not a lender, for the
        introduction to
        a limited number of lenders, and to act as an… [READ MORE]
                <br/><br><br>
        VAT No. 215006068 &nbsp; FCA No. 695033
    </div>
</div>
    <div class="h-[250px] bg-[#2d4779] py-6 mx-8 px-[25px] rounded-xl  text-center text-white  flex flex-col gap-4">
        <!-- <div class="text-3xl text-white">📞</div> -->
         <div>
            <img  class="w-[38px] h-[38px] text-white mx-auto" src="Logoes/phonecall.png"/>
         </div>
        
        <p class="  text-[34px] font-bold  ">Got a question for us?</p>
        <p class="text-[16px] font-normal  ">Make an enquiry with us here.</p>
        <button class="bg-[#002b5c] hover:bg-[#004080] mx-[110px] py-2 rounded-md font-semibold">Enquiry now</button>
    </div>

  
   



</div>
<div class="basecolor text-white px-20 py-2 flex items-center justify-between text-sm">


        <div class="flex items-center space-x-4">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>

        <div class="text-center base2color font-normal">&copy;2025 Parkway Volkswagen
        </div>