<div class="bg-[url('/Logoes/banner1bg.png')] bg-cover bg-center w-full h-[300px] sm:h-[350px] md:h-[425px] 2xl:h-[500px]">
  
  <!-- Ribbon -->
  <div class="flex justify-center pt-6 sm:pt-10 md:pt-14">
    <img src="Logoes/ribbon.png" alt="ribbon" class="w-[120px] sm:w-[160px] md:w-auto">
  </div>

  <!-- Heading -->
  <h1 class="text-[24px] sm:text-[32px] md:text-[45px] 2xl:text-[54px] font-bold text-white text-center pt-2 sm:pt-4">
    The Volkswagen<br class="hidden sm:block" />
    Approved Used Sale
  </h1>

  <!-- Cars Image -->
  <div class="flex justify-center w-full mt-4 md:mt-0">
    <img src="Logoes/threecars.png" alt="bluecar"
      class="h-[140px] sm:h-[180px] md:h-[216px] 2xl:h-[260px] mt-2 sm:mt-4">
  </div>

  <!-- Small Text -->
  <div class="text-white sm:text-blue-900 md:text-blue-900 lg:text-white text-[10px] sm:text-[12px] mt-[-40px] sm:mt-[0px] md:mt-[0px] lg:mt-[-80px] ml-4 sm:ml-8 md:ml-[0rem] opacity-70">
  T&amp;C Apply. Volkswagen Finance.
</div>

</div>