 <div class="bg-[url('/Logoes/banner1bg.png')] bg-cover bg-center w-full h-[425px] mt-2">

    <div class="flex justify-center pt-14">
  <img src="Logoes/ribbon.png" alt="ribbon" > 
  </div>

        <h1 class="text-[45px]  font-[700] text-white text-center pt-4">
            The Volkswagen<br />
            Approved Used Sale
        </h1>
       

   
<div class="flex">
    <div class="text-white text-[12px] mt-36 ml-10 opacity-70">T&C Apply.Volkswagen Finance.</div>
    <div class="flex justify-center items-end h-[236px]">
        
        <img src="Logoes/bluecar.png" alt="biuecar" class="h-[216px] ">
        <img src="Logoes/blackcar.png" alt="blackcar" class="h-[220px] blackcar">
        <img src="Logoes/whitecar.png" alt="whitecar" class="h-[237px] whitecar">

    </div>
 
</div>


</div>