 <div class="bg-[url('/Logoes/banner1bg.png')] bg-cover bg-center w-full h-[425px] ">

    <div class="flex justify-center pt-14">
  <img src="Logoes/ribbon.png" alt="ribbon" > 
  </div>

        <h1 class="text-[45px]  font-[700] text-white text-center pt-4">
            The Volkswagen<br />
            Approved Used Sale
        </h1>
       

   
<div class="flex">
   
    <div class="flex justify-center w-[100%] h-[230px]">
         <img src="Logoes/threecars.png" alt="biuecar" class="h-[216px] mt-[10px] ">
      </div>
      
</div>
   <div class="text-white text-[12px] mt-[-75px] ml-10 opacity-70">T&C Apply.Volkswagen Finance.</div>

</div>