<!-- 
<div class="p-[85px] pt-[3%] justify-between bg-[#F8FAFC] pb-[1px]">
    <div class="grid grid-cols-[50%_50%]   ">
        
        <div class="flex flex-col justify-center gap-6 h-[363px] my-[30px]">
            <div>
                <h1 class="font-bold text-[48px] text-[#000000] leading-[107%] ">
                    Welcome to<br />
                    Parkway Volkswagen<br/>
                    Careers
                </h1>
            </div>

            <div>
                <div class="text-[16px] text-[#54585F] leading-[140%] font-normal">
                    Parkway Volkswagen is a leading homegrown Volkswagen<br/> retailer in
                     Derby, Leicester, Kettering, and Northampton.
                    This<br/> prestigious brand is renowned for developing high-quality,<br/> high-performance vehicles,
                    and we’re delighted to be a<br/> representative for motorists in the area.
                </div>
            </div>

            <div
                class="w-[156px] h-[50px] rounded-[8px] px-[12px] py-[17px] bg-[#052B6B] flex items-center justify-center text-white font-semibold text-[14px]">
                <button>View More</button>
            </div>
        </div>

       
        <div >
            <div class=" h-[425px] bg-[url('/Logoes/career_comp2_image.png')] bg-cover bg-center rounded-[24px]">
                
            </div>
        </div>
    </div>
</div> -->



<div class="p-6 sm:p-10 md:p-[85px] pt-[6%] justify-between bg-[#F8FAFC] pb-[1px] ">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Left Content -->
    <div class="flex flex-col justify-center gap-6 h-auto md:h-[363px] my-[20px] md:my-[30px]">
      <div>
        <h1 class="font-bold text-[32px] sm:text-[36px] md:text-[48px] text-[#000000] leading-tight">
          Welcome to<br />
          Parkway Volkswagen<br />
          Careers
        </h1>
      </div>

      <div>
        <p class="text-[14px] sm:text-[15px] md:text-[16px] text-[#54585F] leading-[140%] font-normal">
          Parkway Volkswagen is a leading homegrown Volkswagen<br class="hidden sm:block" />
          retailer in Derby, Leicester, Kettering, and Northampton. This<br class="hidden sm:block" />
          prestigious brand is renowned for developing high-quality,<br class="hidden sm:block" />
          high-performance vehicles, and we’re delighted to be a<br class="hidden sm:block" />
          representative for motorists in the area.
        </p>
      </div>

      <div
        class="w-[140px] sm:w-[156px] h-[45px] sm:h-[50px] rounded-[8px] px-[12px] py-[10px] bg-[#052B6B] flex items-center justify-center text-white font-semibold text-[14px]">
        <button>View More</button>
      </div>
    </div>

    <!-- Right Image -->
    <div>
      <div class="h-[250px] sm:h-[300px] md:h-[425px] bg-[url('/Logoes/career_comp2_image.png')] bg-cover bg-center rounded-[24px]">
      </div>
    </div>
  </div>
</div>
