<div class="bg-[#000000] h-[378px] w-[298px] rounded-[12px] border border-white">
    <div class="bg-[url('/Logoes/newcar.png')] h-[187px]   rounded-[12px] ">
        
            <div class="text-white font-bold text-center text-[30px] pt-[210px]">
                New Cars
            </div>
            <div class="text-white text-center text-[16px]">
                For immediate delivery
            </div>
            <div class=" flex justify-center">
                <button class="bg-[#000000] text-white border border-white text-center w-[150px] px-[12px] py-[14px] rounded-[8px] mt-[25px]">Check out Now</button>
            </div>
        
    </div>
</div>