<div class="bg-[radial-gradient(circle_at_center,_#052B6B,_#001A44)] w-full h-[511px]">

  <div class="flex justify-center pt-14">
  <img src="Logoes/ribbon.png" alt="ribbon" > 
  </div>

  <h1 class="text-[45px] font-bold text-white text-center pt-4">
    The Volkswagen<br />
    Approved Used Sale
  </h1>


  <div class="flex justify-center items-end">
    <img src="Logoes/bluecar.png" alt="biuecar" class="h-[216px] ">
        <img src="Logoes/blackcar.png" alt="blackcar" class="h-[220px] blackcar">
        <img src="Logoes/whitecar.png" alt="whitecar" class="h-[237px] whitecar">
  
  </div>




</div>