


<div class="bg-[radial-gradient(circle_at_center,_#052B6B,_#001A44)] w-full h-[500px]">

  <div>
  <div class="flex justify-center">
    <img style="margin-top: 35px;" src="Logoes/ribbon.png" alt="ribbon">
  </div> 

  <h1 class="text-[45px] font-bold text-white text-center pt-4">
    The Volkswagen<br />
    Approved Used Sale
  </h1>
</div>
 <div class="flex justify-center mb-[-50px] relative z-20">
      <img src="Logoes/threecars.png" alt="biuecar" class="">
    </div>
<div class="  opacity-20 w-full  ">
  
      <img src="Logoes/banner3lines.png" alt="lines" class="w-full  h-[80px]">

    </div> 
    <div class="text-white text-[12px] opacity-[50%] mt-[-15px] ml-10">T&C Apply.Volkswagen Finance.</div>
</div>