<div class="bg-[radial-gradient(circle_at_center,_#052B6B,_#001A44)] w-full h-[511px]">

  <div class="flex justify-center pt-14">
    <img src="Logoes/ribbon.png" alt="ribbon">
  </div>

  <h1 class="text-[45px] font-bold text-white text-center pt-4">
    The Volkswagen<br />
    Approved Used Sale
  </h1>

  <div class="relative bg-white">

    <div class="flex justify-center items-end  left-[190px] absolute z-20 ">
      <img src="Logoes/bluecar.png" alt="biuecar" class="h-[216px] ">
      <img src="Logoes/blackcar.png" alt="blackcar" class="h-[220px] blackcar">
      <img src="Logoes/whitecar.png" alt="whitecar" class="h-[237px] whitecar">

    </div>


    <div class="absolute mt-[154px] opacity-20">
      <img src="Logoes/banner3lines.png" alt="lines">

    </div>

  </div>
   <div class="text-white text-[12px] mt-[243px] ml-10 opacity-70">T&C Apply.Volkswagen Finance.</div>
</div>