<div class=" px-[8%] pb-[7%] justify-between bg-[#ECEDEF]">
    <div class="grid grid-cols-1 md:grid-cols-[50%_50%] gap-4">
        <!-- Left Content -->
        <div class="flex flex-col justify-center gap-6">
            <div>
                <h1 class="font-bold text-[48px] text-[#001A44] leading-[107%] ">
                    About Parkway<br />
                    Volkswagen
                </h1>
            </div>

            <div>
                <div class="text-[16px] text-[#54585F] leading-[140%] ">
                    Parkway Volkswagen is a leading homegrown Volkswagen retailer in<br/>
                    <span class="font-semibold text-[#001A44]"> Derby, Leicester, Kettering, and Northampton.</span>
                    This prestigious brand<br/> is renowned for developing high-quality, high-performance vehicles,<br/>
                    and we’re delighted to be a representative for motorists in the area.
                </div>
            </div>

            <div
                class="w-[156px] h-[50px] rounded-[8px] bg-[#052B6B] flex items-center justify-center text-white font-semibold text-[14px]">
                <button>Know More</button>
            </div>
        </div>

        <!-- Right Image -->
        <div >
            <div class=" h-full bg-[url('/Logoes/aboutparkway.png')] bg-cover bg-center rounded-[25px]">
                
            </div>
        </div>
    </div>
</div>



