


 <div class="bg-[url('/Logoes/home-page2.png')] bg-cover bg-center w-full ">
    
      
<div class="h-screen bg-gradient-to-t from-red-700 to-[#510001]" >
    <div class="absolute top-[-10%] ">
    <img src="Logoes/End-may19.png" alt="" class=" w-[93px] h-[141px] mt-[56px] ml-[72px]">
</div>
<div class="flex justify-center">
 <div class="w-[640px] h-[191px] gap-4 justify-center   ">
            <div class="w-[640px]  text-[40px] pt-[35px] font-normal  text-center text-[#ffffff] opacity-100 font-figtree mb-[-8px]">
             May we have your Attention?
        </div>
        <div class="w-[565px]  text-[45px]   font-bold text-center text-white align-middle opacity-100 font-figtree ml-[35px]">
            The May Sale Now On
        </div>
        <div class="w-[605.94px]  text-[15px] leading-none   text-center text-white opacity-100 font-figtree">
            Get up to 3590 off the T-ROC, up to 2,000 off the POLO and <br />
            up to 4,670 Off the ID.4
        </div>
        </div>
        </div>
           <div class="flex justify-center w-[100%] h-[230px] ">
         <img src="Logoes/threecars1.png" alt="biuecar" class="h-[230px]  ">
      </div>
      
      
      <!-- <app-used-cars1 ></app-used-cars1> -->
    
</div>
 </div>

