<div class="w-full p-[0_7%_7%_7%]">

  <!-- Section Heading -->
  <div class="flex flex-col gap-8">
    <h2 class="text-[#001A44] text-[48px] font-figtree font-bold  pb-[50px]">
      Used Cars
    </h2>
  </div>

 

  <!-- Cards Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-[-30px]">

    <!-- Card 1 -->
    <div class="bg-white border border-[#ECEDEF] flex flex-col ">
      <!-- Top Image & Tags -->
      <div class="flex flex-col flex-1">
        <div class="relative flex flex-col justify-between items-start  overflow-hidden">

          <!-- Tags Row -->
          <div class="w-full flex justify-between items-center px-3 pt-3">
            <div class="flex items-center gap-2 bg-[#F6F7F9] px-2 py-1 rounded-full text-xs">
              <img src="/Logoes/fi_2087973.png" class="w-3 h-3"/> 
              <span class="text-black">Great Price</span>
              <div class="bg-[#f6f7f9] rounded-full p-1">
                <img src="/Logoes/Frame 1321315442.png" class="w-3 h-3" />
              </div>
            </div>
            <div class="bg-white p-2 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>

          <!-- Car Image -->
          <img src="./Logoes/Temp10Rel1.png"
               class="h-[120px] sm:h-[140px] md:h-[160px] lg:h-[180px] object-contain mx-auto" />

          <!-- Dots -->
          <div class="w-full flex justify-center gap-2 pb-2">
            <div class="w-2 h-2 rounded-full bg-[#052b6b]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
          </div>
        </div>

        <!-- Car Info -->
        <div class="flex flex-col gap-3 p-3">
          <div>
            <h2 class="font-figtree font-bold text-[20px] text-[#000000]">Hyundai i10</h2>
            <p class=" font-figtree text-[14px] text-[#54585F]">SE 5dr (65 PS)</p>
          </div>

          <!-- Tags Row -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Finance & Price -->
          <div class="sm:flex-row gap-3">
            <div class=" border border-[#ecedef]  p-2">
              <div class="flex justify-between items-center">
                <span class="text-sm">PCP Finance</span>
                <img src="/Logoes/u_info-circle.png" title="Estd is £200.40 p/m" class="w-4 h-4" />
              </div>
              <a href="https://www.edynamix.com" target="_blank" class="text-sm font-semibold underline">£200.40 p/m</a>
            </div>

            <div class=" border border-[#ecedef] bg-[#ffffff] p-2 ">
              <div class=" w-full items-center gap-1">
                <span class="text-lg font-semibold">£16,000</span>
                <span class="text-xs text-[#54585F] whitespace-nowrap">+VAT</span>
              </div>
              <div class="bg-[#fff8de] text-[#B58D01] text-xs font-bold px-2 py-1 rounded w-fit">
                Save £200
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-between items-center bg-[#e2f2ff] px-3 py-2 ">
        <div class="flex items-center gap-1 border border-[#dcdfe5] bg-white px-2 py-1  text-xs">
          <img src="/Logoes/u_location-point.png" class="w-4 h-4" />
          <span>Derby</span>
        </div>
        <div class="flex items-center gap-1 border border-[#1858a3] bg-[#1858A3] px-2 py-1 text-xs text-[#1858A3]">
          <img src="Logoes/Star1.png" class="w-4 h-4 " />
           <p class="text-[#FFFFFF]">Highlights</p>

          
          <img src="Logoes/white-up-arrow.png" class="" />
        </div>
      </div>
    </div>

    <!-- Card 2 -->

     <div class="bg-white border border-[#ECEDEF] flex flex-col ">
      <!-- Top Image & Tags -->
      <div class="flex flex-col flex-1">
        <div class="relative flex flex-col justify-between items-start  overflow-hidden">

          <!-- Tags Row -->
          <div class="w-full flex justify-between items-center px-3 pt-3">
            <div class="flex items-center gap-2 bg-[#F6F7F9] px-2 py-1 rounded-full text-xs">
              <img src="/Logoes/fi_2087973.png" class="w-3 h-3"/> 
              <span class="text-black">Great Price</span>
              <div class="bg-[#f6f7f9] rounded-full p-1">
                 <img src="/Logoes/fi_2087973.png" class="w-3 h-3" />
              </div>
            </div>
            <div class="bg-white p-2 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>

          <!-- Car Image -->
          <img src="Logoes/light-gray-car.png"
               class="h-[120px] sm:h-[140px] md:h-[160px] lg:h-[180px] object-contain mx-auto" />

          <!-- Dots -->
          <div class="w-full flex justify-center gap-2 pb-2">
            <div class="w-2 h-2 rounded-full bg-[#052b6b]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
          </div>
        </div>

        <!-- Car Info -->
        <div class="flex flex-col gap-3 p-3">
          <div>
            <h2 class="font-figtree font-bold text-[20px] text-[#000000]">Volkswagen Polo 1.0</h2>
            <p class=" font-figtree text-[14px] text-[#54585F]">SE 5dr (65 PS)</p>
          </div>

          <!-- Tags Row -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Finance & Price -->
          <div class="sm:flex-row gap-3">
            <div class=" border border-[#ecedef]  p-2">
              <div class="flex justify-between items-center">
                <span class="text-sm">PCP Finance</span>
                <img src="/Logoes/u_info-circle.png" title="Estd is £200.40 p/m" class="w-4 h-4" />
              </div>
              <a href="https://www.edynamix.com" target="_blank" class="text-sm font-semibold underline">£200.40 p/m</a>
            </div>

            <div class=" border border-[#ecedef] bg-[#ffffff] p-2 ">
              <div class=" w-full items-center gap-1">
                <span class="text-lg font-semibold">£16,000</span>
                <span class="text-xs text-[#54585F] whitespace-nowrap">+VAT</span>
              </div>
              <div class="bg-[#fff8de] text-[#B58D01] text-xs font-bold px-2 py-1 rounded w-fit">
                Save £200
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-between items-center bg-[#e2f2ff] px-3 py-2 ">
        <div class="flex items-center gap-1 border border-[#dcdfe5] bg-white px-2 py-1  text-xs">
          <img src="/Logoes/u_location-point.png" class="w-4 h-4" />
          <span>Derby</span>
        </div>
        <div class="flex items-center gap-1 border border-[#1858a3] bg-[#1858A3] px-2 py-1 text-xs text-[#1858A3]">
          <img src="Logoes/Star1.png" class="w-4 h-4 " />
           <p class="text-[#FFFFFF]">Highlights</p>

          
          <img src="Logoes/white-up-arrow.png" class="" />
        </div>
      </div>
    </div>
   




    
    <!-- Card 3 -->
 

    <div class="bg-white border border-[#ECEDEF] flex flex-col ">
      <!-- Top Image & Tags -->
      <div class="flex flex-col flex-1">
        <div class="relative flex flex-col justify-between items-start  overflow-hidden">

          <!-- Tags Row -->
          <div class="w-full flex justify-between items-center px-3 pt-3">
            <div class="flex items-center gap-2 bg-[#F6F7F9] px-2 py-1 rounded-full text-xs">
              <img src="/Logoes/fi_2087973.png" class="w-3 h-3"/> 
              <span class="text-black">Great Price</span>
              <div class="bg-[#f6f7f9] rounded-full p-1">
                <img src="/Logoes/Frame 1321315442.png" class="w-3 h-3" />
              </div>
            </div>
            <div class="bg-white p-2 rounded-full">
                <!-- <img src="Logoes/Heart-1.png" alt=""> -->
                 <i class="fa-solid fa-heart" style="color: #d80e0e;"></i>
            </div>
          </div>

          <!-- Car Image -->
          <img src="Logoes/gray-car-2.png"
               class="h-[120px] sm:h-[140px] md:h-[160px] lg:h-[180px] object-contain mx-auto" />

          <!-- Dots -->
          <div class="w-full flex justify-center gap-2 pb-2">
            <div class="w-2 h-2 rounded-full bg-[#052b6b]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
          </div>
        </div>

        <!-- Car Info -->
        <div class="flex flex-col gap-3 p-3">
          <div>
            <h2 class="font-figtree font-bold text-[20px] text-[#000000]">Volkswagen Caddy 2.0</h2>
            <p class=" font-figtree text-[14px] text-[#54585F]">TDI</p>
          </div>

          <!-- Tags Row -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Finance & Price -->
          <div class="sm:flex-row gap-3">
            <div class=" border border-[#ecedef]  p-2">
              <div class="flex justify-between items-center">
                <span class="text-sm">PCP Finance</span>
                <img src="/Logoes/u_info-circle.png" title="Estd is £200.40 p/m" class="w-4 h-4" />
              </div>
              <a href="https://www.edynamix.com" target="_blank" class="text-sm font-semibold underline">£200.40 p/m</a>
            </div>

            <div class=" border border-[#ecedef] bg-[#ffffff] p-2 ">
              <div class=" w-full items-center gap-1">
                <span class="text-lg font-semibold">£16,000</span>
                <span class="text-xs text-[#54585F] whitespace-nowrap">+VAT</span>
              </div>
              <div class="bg-[#fff8de] text-[#B58D01] text-xs font-bold px-2 py-1 rounded w-fit">
                Save £200
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-between items-center bg-[#e2f2ff] px-3 py-2 ">
        <div class="flex items-center gap-1 border border-[#dcdfe5] bg-white px-2 py-1  text-xs">
          <img src="/Logoes/u_location-point.png" class="w-4 h-4" />
          <span>Derby</span>
        </div>
        <div class="flex items-center gap-1 border border-[#1858a3] bg-[#1858A3] px-2 py-1 text-xs text-[#1858A3]">
          <img src="Logoes/Star1.png" class="w-4 h-4 " />
           <p class="text-[#FFFFFF]">Highlights</p>

          
          <img src="Logoes/white-up-arrow.png" class="" />
        </div>
      </div>
    </div>

    <!-- Card 4 -->
     <div class="bg-white border border-[#ECEDEF] flex flex-col ">
      <!-- Top Image & Tags -->
      <div class="flex flex-col flex-1">
        <div class="relative flex flex-col justify-between items-start  overflow-hidden">

          <!-- Tags Row -->
          <div class="w-full flex justify-between items-center px-3 pt-3">
            <div class="flex items-center gap-2 bg-[#F6F7F9] px-2 py-1 rounded-full text-xs">
              <img src="/Logoes/fi_2087973.png" class="w-3 h-3"/> 
              <span class="text-black">Great Price</span>
              <div class="bg-[#f6f7f9] rounded-full p-1">
                <img src="/Logoes/Frame 1321315442.png" class="w-3 h-3" />
              </div>
            </div>
            <div class="bg-white p-2 rounded-full">
                <img src="Logoes/Heart-1.png" alt="">
              <!-- <i class="fa-regular fa-heart"></i> -->
            </div>
          </div>

          <!-- Car Image -->
          <img src="Logoes/blue-car1.png"
               class="h-[120px] sm:h-[140px] md:h-[160px] lg:h-[180px] object-contain mx-auto" />

          <!-- Dots -->
          <div class="w-full flex justify-center gap-2 pb-2">
            <div class="w-2 h-2 rounded-full bg-[#052b6b]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
            <div class="w-2 h-2 rounded-full bg-[#b9bdc4]"></div>
          </div>
        </div>

        <!-- Car Info -->
        <div class="flex flex-col gap-3 p-2">
          <div>
            <h2 class="font-figtree font-bold text-[20px] text-[#000000]">MG ZS 105kW</h2>
            <p class=" font-figtree text-[14px] text-[#54585F]">Exclusive EV 45kWh 5dr Auto (143PS)</p>
          </div>

          <!-- Tags Row -->
          <div class="flex flex-wrap gap-2">
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">2022</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Diesel</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">SUV</span>
            <span class="bg-[#ecedef] text-xs px-2 py-1 rounded">Matic</span>
          </div>

          <!-- Finance & Price -->
          <div class="sm:flex-row gap-3">
            <div class=" border border-[#ecedef]  p-2">
              <div class="flex justify-between items-center">
                <span class="text-sm">PCP Finance</span>
                <img src="/Logoes/u_info-circle.png" title="Estd is £200.40 p/m" class="w-4 h-4" />
              </div>
              <a href="https://www.edynamix.com" target="_blank" class="text-sm font-semibold underline">£200.40 p/m</a>
            </div>

            <div class=" border border-[#ecedef] bg-[#ffffff] p-2 ">
              <div class=" w-full items-center gap-1">
                <span class="text-lg font-semibold">£16,000</span>
                <span class="text-xs text-[#54585F] whitespace-nowrap">+VAT</span>
              </div>
              <div class="bg-[#fff8de] text-[#B58D01] text-xs font-bold px-2 py-1 rounded w-fit">
                Save £200
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-between items-center bg-[#e2f2ff] px-3 py-2 ">
        <div class="flex items-center gap-1 border border-[#dcdfe5] bg-white px-2 py-1  text-xs">
          <img src="/Logoes/u_location-point.png" class="w-4 h-4" />
          <span>Derby</span>
        </div>
        <div class="flex items-center gap-1 border border-[#1858a3] bg-[#1858A3] px-2 py-1 text-xs text-[#1858A3]">
          <img src="Logoes/Star1.png" class="w-4 h-4 " />
           <p class="text-[#FFFFFF]">Highlights</p>

          
          <img src="Logoes/white-up-arrow.png" class="" />
        </div>
      </div>
    </div>

  </div>




  <div class="w-full flex justify-center items-center ">
  <div class="flex justify-center items-center gap-[16px]  pt-[20px]">
    
    <!-- Left Button -->
    <div style="background: white"
      class="w-[32px] h-[32px] flex justify-center items-center p-[6px] rounded-[30px] shadow-[0px_0px_10px_rgba(0,0,0,0.10)]">
      <i class="fa-solid fa-angle-left"></i>
    </div>

    <!-- Right Button -->
    <div style="background: white"
      class="w-[32px] h-[32px] flex justify-center items-center p-[6px] rounded-[30px] shadow-[0px_0px_10px_rgba(0,0,0,0.10)]">
      <i class="fa-solid fa-angle-right"></i>
    </div>

  </div>
</div>


</div>
