<div class="px-[7%] pt-[16px] bg-[#B9BDC4]">
    <div class="grid grid-cols-1 gap-2 xl:grid-cols-[20%_80%]">
        <div class="rounded-[16px] bg-[#FFFFFF] p-[10px] h-[1100px] xl:h-full">
            <div class="flex justify-between border-b-2 pb-2 ">
                <span class="font-bold text-[24px]">Filter</span>
                <span class="text-[#1858A3] font-semibold text-[14px] underline mt-2">Reset</span>
            </div>
            <div class="flex border border-black p-[8px] rounded-[5px] my-2">
                <img src="Logoes/search.png" alt="search">
                Search
            </div>
            <div>
                <div class="border-b-2 pb-4 pt-[12px]">
                    <span class="font-bold"> Price Range </span>
                    <div class="w-full">
                        <img src="Logoes/bars.png" alt="bargraph" class="w-full h-[64px] my-4">
                    </div>
                    <div class="text-center">
                        <span
                            class="border border-black rounded-[5px] px-[20px] py-[8px] text-[14px] text-[#4C5C6B]">£1,200</span>
                        to
                        <span
                            class="border border-black rounded-[5px] px-[20px] py-[8px] text-[14px] text-[#4C5C6B]">£2,200</span>
                    </div>
                </div>


                <div>
                    <div class="flex justify-between my-2">
                        <span class="font-bold">Make</span>
                        <img src="Logoes/u angle up.png" alt="angle down" class="w-[24px]">
                    </div>
                    <div class="grid grid-cols-4 gap-[8px]">
                          <div class="xl:w-full w-[88px] xl:mx-[0%] mx-[20%] ">
                                <div >
                                <img src="Logoes/hyundai.png" alt="hyundai"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Hyundai</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                        <div class="xl:w-full w-[88px]  xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/kia.png" alt="kia"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">KIA</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                      <div class="xl:w-full w-[88px]  xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/bmw.png" alt="bmw"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">BMW</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                       
                            <div class="xl:w-full w-[88px] relative xl:mx-[0%] mx-[20%]">
                                <div  >
                                <img src="Logoes/toyota.png" alt="toyota"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Toyota</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(10)</p>
                                <div class="absolute top-[5%] right-[12%]">
                                    <p
                                        class="rounded-[24px] text-[#FFFFFF] bg-[#000000] h-[12px] w-[12px] text-[8px] text-center">
                                        1</p>
                                </div>
                            </div>
                      
                          <div class="xl:w-full w-[88px] xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/audi.png" alt="audi"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Audi</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                        <div class="relative">
                            <!-- <div class="absolute "> -->
   <div class="xl:w-full w-[88px] relative xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/nissan.png" alt="nissan"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Nissan</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                                <div class="absolute top-[5%] right-[12%]">
                                    <p
                                        class="rounded-[24px] text-[#FFFFFF] bg-[#000000] h-[12px] w-[12px] text-[8px] text-center">
                                        2</p>
                                </div>
                            </div>
                             
                               
                            <!-- </div> -->
                        </div>
                         <div class="relative">
                          
   <div class="xl:w-full w-[88px] xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/vw.png" alt="Volkswagen"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Volkswagen</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                             
                              
                         
                        </div>

                         <div class="xl:w-full w-[88px] xl:mx-[0%] mx-[20%]">
                                <div >
                                <img src="Logoes/skoda.png" alt="skoda"
                                    class="bg-[#F6F7F9] rounded-[8px] px-[8px] py-[15px] ">
</div>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">Skoda</p>
                                <p class="text-[12px] text-center xl:mr-[0px] mr-[12px]">(240)</p>
                               
                            </div>
                    </div>

                    <div class="flex border-b-2 pb-4 pt-4">
                        <span class="font-semibold underline">Show More</span>
                        <img src="Logoes/u angle down.png" alt="angledown" class="w-[24px]">
                    </div>
                </div>


                <div class="flex justify-between gap-[15px] my-2">
                    <span class="font-bold">Fuel-Type</span>
                    <img src="Logoes/u angle up.png" alt="angle down" class="w-[24px]">
                </div>

                <div class="grid grid-cols-2 gap-[8px] border-b-2 pb-4">
                    <span class="rounded-[8px] p-[8px] border border-black">Diesel(10)</span>
                    <span class="rounded-[8px] p-[8px] border border-black">Petrol(200)</span>
                    <span class="rounded-[8px] p-[8px] border border-black">CNG(10)</span>
                    <span class="rounded-[8px] p-[8px] border border-black">EV(10)</span>
                </div>
            </div>
            <div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Age</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Location</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Body-Type</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Color</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Transmission</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
                <div class="flex justify-between my-2 border-b-2 pb-2">
                    <span class="font-bold">Milage</span>
                    <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                </div>
            </div>

        </div>

        <div>
            <div class="flex justify-between px-[10px]">
                <span class="font-bold text-[24px]">Showing cars (210)</span>
                <div class="flex gap-[16px]">
                    <span class="flex rounded-[8px] p-[4px] border bg-[#FFFFFF] h-[40px] items-center gap-[6px]">
                        <img src="Logoes/grid.png" alt="grid" class="w-[24px] h-[24px]">
                        <img src="Logoes/threelines.png" alt="threelines" class="w-[24px] h-[24px]">
                    </span>
                    <span
                        class="flex rounded-[8px] px-[12px] py-[8px] border bg-[#FFFFFF] h-[40px] items-center gap-[10px]">
                        Sort By
                        <img src="Logoes/u angle down.png" alt="angle down" class="w-[24px]">
                    </span>
                </div>
            </div>

            <!-- <div class="grid grid-cols-1 xl:grid-cols-[50%_50%]"> -->
            <div class="grid grid-cols-1 lg:grid-cols-[50%_50%]">
                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo5.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo5a.png" alt="whitecar">
                                    <img src="Logoes/polo5b.png" alt="whitecar">
                                    <img src="Logoes/polo5b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] h-[24px] flex justify-self-end gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo6.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo6a.png" alt="whitecar">
                                    <img src="Logoes/polo6b.png" alt="whitecar">
                                    <img src="Logoes/polo6b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo7.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo7a.png" alt="whitecar">
                                    <img src="Logoes/polo7b.png" alt="whitecar">
                                    <img src="Logoes/polo7b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo8.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo8a.png" alt="whitecar">
                                    <img src="Logoes/polo8b.png" alt="whitecar">
                                    <img src="Logoes/polo8b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo5.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo5a.png" alt="whitecar">
                                    <img src="Logoes/polo5b.png" alt="whitecar">
                                    <img src="Logoes/polo5b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo6.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo6a.png" alt="whitecar">
                                    <img src="Logoes/polo6b.png" alt="whitecar">
                                    <img src="Logoes/polo6b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo7.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo7a.png" alt="whitecar">
                                    <img src="Logoes/polo7b.png" alt="whitecar">
                                    <img src="Logoes/polo7b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="px-[10px] py-[5px]">

                    <div class=" rounded-[16px] border-[1px] bg-[#FFFFFF]">
                        <div class="flex">
                            <div>
                                <img src="Logoes/polo8.png" alt="whitecar">
                                <div class="flex space-x-[5px] ml-[5px] py-[5px]">
                                    <img src="Logoes/polo8a.png" alt="whitecar">
                                    <img src="Logoes/polo8b.png" alt="whitecar">
                                    <img src="Logoes/polo8b.png" alt="whitecar">
                                </div>
                            </div>

                            <div>
                                <div class="font-bold text-[20px] ml-2 pt-2">Polo</div>
                                <div class="text-[14px] ml-2 pb-2">R-Line</div>
                                <div class="mx-2 space-x-2">
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">180 PS</span>
                                    <span class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Diesel</span>
                                    <span
                                        class="rounded-[4px] py-[4px] bg-[#ECEDEF] text-[12px] px-[5px]">Hatchback</span>
                                </div>
                                <div class="rounded-[4px] py-[4px] bg-[#ECEDEF] w-[40px] text-[12px] m-2 px-[5px]">Matic
                                </div>

                                <div class="pt-[18px]">
                                    <div class="rounded-[4px] p-[5px] border-[1px] ml-2">
                                        <div class="flex justify-between">
                                            <span>Start at</span>
                                            <img src="Logoes/infocircle.png" alt="infocircle" class="h-[13px] w-[13px]">
                                        </div>
                                        <div class="font-semibold text-[14px]"> £2000-4000</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bg-[#E2F2FF] px-[12px] py-[8px] rounded-br-[12px] rounded-bl-[12px] h-[40px]">
                            <div
                                class="bg-[#FFFFFF] flex justify-self-end h-[24px] gap-x-[4px] rounded-[49px] p-[4px] text-[#1858A3]">
                                <img src="Logoes/staar.png" alt="star">
                                <span class="text-[12px]">Highlights</span>
                                <img src="Logoes/u angle down.png" alt="angledown">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="text-center flex justify-center w-full ml-[0px] xl:ml-[8%]">

        <div class="flex justify-center items-center gap-[16px] inline-flex ">
            <div
                class="bg-[#B9BDC4] text-white w-[32px] h-[32px] origin-top-left justify-center items-center gap-[15px] flex p-[6px] rounded-[30px]">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div
                class="bg-[#052B6B] text-white rounded-[30px] w-[32px] h-[32px] justify-center items-center gap-[15px] flex p-[6px]">
                1
            </div>
            <div
                class="bg-[#052B6B] text-white rounded-[30px] w-[32px] h-[32px] justify-center items-center gap-[15px] flex p-[6px]">
                2
            </div>
            <div
                class="bg-[#052B6B] text-white rounded-[30px] w-[32px] h-[32px] justify-center items-center gap-[15px] flex p-[6px]">
                3
            </div>
            <div
                class="bg-[#052B6B] text-white w-[32px] h-[32px] shadow-[0px_0px_10px_rgba(0,0,0,0.10)] justify-center items-center gap-[15px] flex p-[6px] rounded-[30px]">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>