<div class="w-full mx-auto">
  <div class="w-full mx-auto px-4 pt-12 pb-4 bg-white">
  <div class="flex flex-col lg:flex-row gap-10">
    <!-- Left Section -->
    <div class="lg:w-1/2 relative ">
      <div class="w-[450px]">
        <div class="text-5xl  font-bold leading-[1.07] text-[#001A44] ml-[38px] mb-[19px]">Vehicle & Services</div>
      <div class="text-[#54585F] text-[16px] leading-[1.4]  max-w-md ml-[49px] ">
       123  A service a transaction in which no physical goods are transferred from the seller to the buyer. The benefits of such a service are held to 123
      </div>
      </div>
      <div class="absolute bottom-[-20%] left-0">
        <img src="Logoes/Animated-car.png" alt="Car" class="w-full max-w-[480px] h-auto" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="lg:w-1/2 grid grid-cols-1 md:grid-cols-2 gap-3 mr-[44px] mt-[15px]">
      <!-- Card -->
      <div class="w-[325.5px] text-[#000000] hover:text-[#FFFFFF] h-[229.06px] rounded-[12px] border border-[#ECEDEF] pt-[40px] px-[24px] pb-[40px] flex flex-col  ml-[-72px] hover:bg-[#001A44] group transition-all duration-300">
        <div class="w-[52px], h-[52px],rounded-[45px] rounded-full bg-[#052B6B] text-[#FFFFFF] p-3 w-fit  text-sm font-bold mb-[19px] group-hover:bg-[#FFFFFF] ">
          <i class="fa-solid fa-certificate text-[#FFFFFF] group-hover:text-[#052B6B]"></i>
        </div> 
        <div class="w-[250.01 px] h-[29px]  font-figtree text-lg font-bold  mb-[15px]">New Vehicles</div>
        <div class="w-[250.01 px] h-[44 px] opacity-50 font-figtree text-lg  text-[16px] leading-[1.4] mt-[-12px]">
          Choose from hundreds of carefully selected and prepared cars.
        </div>
      </div>


      

      <!-- Active Card -->
      <div class="w-[325.5px] text-[#000000] hover:text-[#FFFFFF] hover:bg-[#001A44] h-[229.06px] rounded-[12px] border border-[#ECEDEF]  pt-[40px] px-[24px] pb-[40px] flex flex-col gap-[15px] ml-[-31px] group transition-all duration-300">
        <div class="w-[52px], h-[52px],rounded-[45px] rounded-full bg-[#052B6B] text-[#FFFFFF] p-3 w-fit  text-sm font-bold mb-[19px] group-hover:bg-[#FFFFFF]">
          <i class="fa-solid fa-tag fa-rotate-90 text-[#FFFFFF] group-hover:text-[#052B6B]"></i>
        </div>
        <div class="w-[250.01 px] h-[29px]  font-figtree text-lg font-bold  mb-[15px] mt-[-14px]">Used Vehicles</div>
        <div class="w-[250.01 px] h-[44 px] opacity-50 font-figtree text-lg  text-[16px] leading-[1.4] mt-[-27px]">
          Choose from hundreds of carefully selected and prepared cars.
        </div>
      </div>

      <!-- Card -->
      <div class="w-[325.5px] h-[229.06px] text-[#000000] hover:text-[#FFFFFF] rounded-[12px] border border-[#ECEDEF] pt-[40px] px-[24px] pb-[40px] flex flex-col gap-[15px] ml-[-72px] hover:bg-[#001A44]  group transition-all duration-300">
        <div class="w-[52px], h-[52px],rounded-[45px] rounded-full bg-[#052B6B] text-[#FFFFFF] p-3 w-fit  text-sm font-bold group-hover:bg-[#FFFFFF]">
         <i class="fa-solid fa-tag fa-rotate-90 text-[#FFFFFF] group-hover:text-[#052B6B]"></i>
        </div>
        <div class="w-[250.01 px] h-[29px]  font-figtree text-lg font-bold  ">Vehicle Valuation</div>
        <div class="w-[250.01 px] h-[44 px] opacity-50 font-figtree text-lg  text-[16px] leading-[1.4] mt-[-12px]">
          Choose from hundreds of carefully selected and prepared cars.
        </div>
      </div>

      <!-- Card -->
      <div class="w-[325.5px] h-[229.06px]  text-[#000000] hover:text-[#FFFFFF]  rounded-[12px] border border-[#ECEDEF] pt-[40px] px-[24px] pb-[40px] flex flex-col gap-[15px] ml-[-32px] hover:bg-[#001A44]  group transition-all duration-300">
        <div class="w-[52px], h-[52px],rounded-[45px] rounded-full bg-[#052B6B] text-[#FFFFFF] p-3 w-fit  text-sm font-bold  group-hover:bg-[#FFFFFF]">
          <i class="fa-solid fa-tag fa-rotate-90 text-[#FFFFFF] group-hover:text-[#052B6B] "></i>
        </div>
        <div class="w-[250.01 px] h-[29px]  font-figtree text-lg font-bold  ">Used Vehicles</div>
        <div class="w-[250.01 px] h-[44 px] opacity-50 font-figtree text-lg  text-[16px] leading-[1.4] mt-[-12px]">
          Choose from hundreds of carefully selected and prepared cars.
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <img src="Logoes/Animated-line.png" alt="" class="w-full">
</div>
</div>