<!-- <div style="padding-left: 3.5%;" class="bg-[#F8FAFC] px-4 sm:px-6 md:px-8">
<div class="flex flex-wrap lg:flex-nowrap gap-8 mx-auto max-w-[1400px]" >
 

  
  <div class="flex flex-col w-[508px] h-[1205px] gap-4">
 
  
    
    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative sm:w-[48%] md:w-[48%] lg:w-full">
 
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/down_arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
 
      <span class="text-[20px] font-bold">Parkway Volkswagen Leicester</span>
     
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>

      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  
        
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 284800
  </span>
 
 
  
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
      

      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] font-semibold bg-[#052B6B] text-[16px] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] border-[1px] font-semibold border-[#052B6B] rounded-[8px] px-3 py-[17px] text-[16px] text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>
 
   
    
 
    <div class="flex flex-col w-[508px] rounded-[12px] border-200 h-[490px] border-black border-[1px] bg-white p-5 relative  sm:w-full lg:w-full">
 
  

  <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/down_arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
 
 
  
  <span class="text-[20px] font-bold text-[#0B0B0B]">Parkway Volkswagen Derby</span>
 
 
  
  <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 

      
 <div class="flex flex-col w-[436px] rounded-[8px] p-2 mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm gap-2">
 
  
  
  <div class="flex items-center gap-6">
   
    
    <span class="flex items-center gap-2 font-semibold text-[14px]">
      <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-[18px] h-[16px]">
      01332 284800
    </span>
 
  
    
    <span class="flex items-center gap-2 font-semibold text-[14px]">
      <img src="Logoes/Mail.png" alt="Email" class="w-[18px] h-[16px]">
      info&#64;parkway.co.uk
    </span>
  </div>
 
 
  
  <div class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Vector-location.png" alt="Location" class="h-[16px] w-[16px] mb-[2px] sm:mb-[2px]">
    Locomotive Way Pride Park Derby DE24 8PU
  </div>
 
</div>
 
 


  <div class="flex flex-col mt-4 pb-[4px] bg-[#F6F7F9] rounded-[8px] w-[436px] overflow-hidden">
    <span class="font-bold px-3  font-[Figtree] text-[20px] text-[#0B0B0B] mt-[4px] ">Opening Hours</span>
    <div class="flex flex-col text-[14px] px-3 mt-[4px] ">
      <div class="flex justify-between mt-[4px] text-[14px] font-[Figtree]"><span >Monday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Tuesday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Wednesday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Thursday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Friday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Saturday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Sunday</span><span class="text-500  text-[#D43333] font-semibold">Closed</span></div>
    </div>
  </div>
 
 
  
  <div class="flex gap-3 mt-4">
    <button class="flex justify-center items-center w-[156px] h-[50px] bg-[#052B6B] font-semibold text-white rounded-[8px] font-semibold">
      Make Enquiry
    </button>
    <button class="flex justify-center items-center w-[156px] h-[50px] border border-[#052B6B]  font-semibold [8px] text-[#052B6B] font-semibold">
      Get Directions
    </button>
  </div>
</div>
 


    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative ">
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/up-arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
      <span class="text-[20px] font-bold">Parkway Volkswagen Northampton</span>
     
      
      
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
 
      
      
      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 284800
  </span>
 

  
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
    
      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-600  font-semibold bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] font-semibold border-[1px] border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>

    
    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative">
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="\Logoes\up-arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
      <span class="text-[20px] font-bold">Parkway Volkswagen Kettering</span>
     
     
      
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
 
      
      
      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 284800
  </span>
 
  
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
     
      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-600 font-semibold bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] border-[1px] font-semibold border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>
 
 
</div>
  
  <div class="relative w-[635px] h-[1060.5px] rounded-[24px]">

  <img src="Logoes/Map.jpg" alt="Map" class="w-full h-full rounded-[24px] object-cover">
 
 
  <div class="absolute bottom-3 left-0 ml-1 w-[625px] h-[238px] rounded-[12px] p-3 bg-white shadow-md flex flex-col gap-4">
 
    
    <div class="flex justify-between items-center w-[595.625px] h-[49px] gap-[15px]">
      
      <div class="flex flex-col w-[410.625px] h-[49px] gap-2">
        <span class="font-[Figtree] font-bold text-[20px] leading-[100%]">Parkway Volkswagen Derby</span>
        <span class="font-[Figtree] font-semibold text-[14px] top-2 leading-[100%] flex items-center gap-1">
          <img src="Logoes/Vector-location.png" alt="location" class="w-[16px] h-[16px] mr-1">
          Locomotive Way Pride Park Derby DE24 8PU
        </span>
      </div>
 
    
      <div class="flex items-center gap-1 mb-6 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[6px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[5px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-bold"> 1002</span></span>
      </div>
    </div>
 
  
    <div class="flex gap-2 w-[613px] h-[83px] overflow-hidden">
      <div class="flex flex-col w-[224px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1  ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
      </div>
 
      <div class="flex flex-col w-[228px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1 ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
      </div>
 
      <div class="flex flex-col w-[228px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1  ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
         <img src="Logoes\Heart.png"
       alt="Next"
       class="absolute   -right-0 mt-[1px] w-[60px] h-[64px]">
      </div>
    </div>
 
   
    <div class="flex gap-4 mt-auto">
      <button class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px] font-[Figtree] font-semibold">
        Make Enquiry
      </button>
      <button class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] border border-[1px]   border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 font-[Figtree] font-semibold text-[#052B6B]">
        Get Directions
      </button>
    </div>
  </div>
</div>
 
</div>
 
</div>
 -->
















<div style="padding-left: 3.5%;" class="bg-[#F8FAFC] px-4 sm:px-6 md:px-8">
<div class="flex flex-wrap lg:flex-nowrap gap-8 mx-auto max-w-[1400px]" >
 
  <!-- Left Component -->
  <div class="flex flex-col w-[508px] h-[1205px] gap-4">
 
    <!-- Box 3-->
    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative ">
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/up-arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
      <span class="text-[20px] font-bold">Parkway Volkswagen Leicster</span>
     
      <!-- Rating + Reviews -->
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
 
      <!-- Info Row -->
      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  <!-- Phone -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 268800
  </span>
 
  <!-- Email -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
      <!-- Button Box -->
      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-600  font-semibold bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] font-semibold border-[1px] border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>
 
    <!-- Box 2 -->
 
    <div class="flex flex-col w-[508px] rounded-[12px] border-200 h-[490px] border-black border-[1px] bg-white p-5 relative  sm:w-full lg:w-full">
 
  <!-- Top Arrow Button -->
  <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/down_arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
 
  <!-- Title -->
  <span class="text-[20px] font-bold text-[#0B0B0B]">Parkway Volkswagen Derby</span>
 
  <!-- Rating + Reviews -->
  <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
  <!-- Contact Info -->
 <div class="flex flex-col w-[436px] rounded-[8px] p-2 mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm gap-2">
 
  <!-- Top Row: Phone + Email -->
  <div class="flex items-center gap-6">
    <!-- Phone -->
    <span class="flex items-center gap-2 font-semibold text-[14px]">
      <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-[18px] h-[16px]">
      01332 284800
    </span>
 
    <!-- Email -->
    <span class="flex items-center gap-2 font-semibold text-[14px]">
      <img src="Logoes/Mail.png" alt="Email" class="w-[18px] h-[16px]">
      info&#64;parkway.co.uk
    </span>
  </div>
 
  <!-- Bottom Row: Location -->
  <div class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Vector-location.png" alt="Location" class="h-[16px] w-[16px] mb-[2px] sm:mb-[2px]">
    Locomotive Way Pride Park Derby DE24 8PU
  </div>
 
</div>
 
 
 
  <!-- Opening Hours -->
  <div class="flex flex-col mt-4 pb-[4px] bg-[#F6F7F9] rounded-[8px] w-[436px] overflow-hidden">
    <span class="font-bold px-3  font-[Figtree] text-[20px] text-[#0B0B0B] mt-[4px] ">Opening Hours</span>
    <div class="flex flex-col text-[14px] px-3 mt-[4px] ">
      <div class="flex justify-between mt-[4px] text-[14px] font-[Figtree]"><span >Monday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Tuesday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Wednesday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Thursday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Friday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Saturday</span><span class="font-semibold">8:00 a.m.-7:00 p.m.</span></div>
      <div class="flex justify-between  mt-[3px] text-[14px] font-[Figtree]"><span class="text-[14px]">Sunday</span><span class="text-500  text-[#D43333] font-semibold">Closed</span></div>
    </div>
  </div>
 
  <!-- Buttons -->
  <div class="flex gap-3 mt-4">
    <button class="flex justify-center items-center w-[156px] h-[50px] bg-[#052B6B] font-semibold text-white rounded-[8px] font-semibold">
      Make Enquiry
    </button>
    <button class="flex justify-center items-center w-[156px] h-[50px] border border-[#052B6B]  font-semibold [8px] text-[#052B6B] font-semibold">
      Get Directions
    </button>
  </div>
</div>
 
<!-- Box 3-->
    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative ">
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="Logoes/up-arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
      <span class="text-[20px] font-bold">Parkway Volkswagen Northampton</span>
     
      <!-- Rating + Reviews -->
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
 
      <!-- Info Row -->
      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  <!-- Phone -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 284800
  </span>
 
  <!-- Email -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
      <!-- Button Box -->
      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-600  font-semibold bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] font-semibold border-[1px] border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>
<!-- Box 4-->
    <div class="flex flex-col w-[508px] h-[217px]  bg-[#FFFFFF] rounded-[12px]  p-5 relative">
       <button class="absolute mt-[2px] right-2 mr-[4px]">
    <img src="\Logoes\up-arrow.png" alt="Up" class="w-[32px] h-[32px]">
  </button>
      <span class="text-[20px] font-bold">Parkway Volkswagen Kettering</span>
     
      <!-- Rating + Reviews -->
      <div class="flex items-center gap-1 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[4px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[3px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-semibold"> 1002</span></span>
      </div>
 
 
      <!-- Info Row -->
      <div class="flex items-center w-[436px] h-[33px] gap-6 rounded-[8px] p-2  mt-[14px] mb-[14px] bg-[#F6F7F9] text-sm">
  <!-- Phone -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/u_phone-alt1.png" alt="Phone" class="w-4 h-4">
    01332 284800
  </span>
 
  <!-- Email -->
  <span class="flex items-center gap-2 font-semibold text-[14px]">
    <img src="Logoes/Mail.png" alt="Email" class="w-4 h-4">
    info&#64;parkway.co.uk
  </span>
</div>
 
 
      <!-- Button Box -->
      <div class="flex gap-4 w-[328px] h-[50px]">
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-600 font-semibold bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px]">
          Make Enquiry
        </div>
        <div class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] border-[1px] font-semibold border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 text-[#052B6B]">
          Get Directions
        </div>
      </div>
    </div>
 
 
</div>
  <!-- Right Component -->
  <div class="relative w-[635px] h-[1060.5px] rounded-[24px]">
  <!-- Map Image -->
  <img src="Logoes/Map.jpg" alt="Map" class="w-full h-full rounded-[24px] object-cover">
 
  <!-- Bottom Location Info Box -->
  <div class="absolute bottom-3 left-0 ml-1 w-[625px] h-[238px] rounded-[12px] p-3 bg-white shadow-md flex flex-col gap-4 ">
 
    <!-- Top heading & reviews -->
    <div class="flex justify-between items-center w-[595.625px] h-[49px] gap-[15px] ">
      <!-- Heading + Location -->
      <div class="flex flex-col  w-[410.625px] h-[49px] gap-2">
        <span class="font-[Figtree] font-bold text-[20px] leading-[100%]">Parkway Volkswagen Derby</span>
        <span class="font-[Figtree] font-semibold text-[14px] top-2 leading-[100%] flex items-center gap-1">
          <img src="Logoes/Vector-location.png" alt="location" class="w-[16px] h-[16px] mr-1">
          Locomotive Way Pride Park Derby DE24 8PU
        </span>
      </div>
 
      <!-- Reviews -->
      <div class="flex items-center gap-1 mb-6 ">
        <span class="flex items-center gap-1 bg-[#FFF8DE] rounded-[4px]  mt-[6px] gap-[6px] font-[Figtree] h-[27px] w-[52px] font-semibold text-[16px] leading-[120%]">
          <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[3px] ml-[5px]" alt="star"> 4.5
        </span>
        <span class="font-[Figtree] text-[16px] mt-[6px] ml-[10px]">Reviews <span class="font-bold"> 1002</span></span>
      </div>
    </div>
 
    <!-- Reviews Section -->
    <div class="flex gap-2 w-[613px] h-[83px] overflow-hidden">
      <div class="flex flex-col w-[224px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1  ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
      </div>
 
      <div class="flex flex-col w-[228px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1 ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
      </div>
 
      <div class="flex flex-col w-[228px] h-[83px] bg-[#F6F7F9] rounded-[8px] p-2 gap-1">
        <span class="font-[Figtree] font-semibold text-[16px] leading-[100%] flex items-center gap-1">
          Jenny Wilson
          <span class="flex items-center gap-1  ml-[2rem] text-[16px] font-semibold">
            <img src="Logoes/Star.png" class="w-[13.35px] h-[12.75px] mb-[6px] mr-[4px]"> 5.0
          </span>
        </span>
        <span class="font-[Figtree] text-[14px] leading-[100%] text-gray-600 w-[251px]">
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,
        </span>
         <img src="Logoes\Heart.png"
       alt="Next"
       class="absolute   -right-0 mt-[1px] w-[60px] h-[64px]">
      </div>
    </div>
 
    <!-- Bottom Buttons -->
    <div class="flex gap-4 mt-auto">
      <button class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] bg-[#052B6B] text-white rounded-[8px] px-3 py-[17px] font-[Figtree] font-semibold">
        Make Enquiry
      </button>
      <button class="flex justify-center items-center w-[156px] min-w-[150px] h-[50px] border border-[1px]   border-[#052B6B] rounded-[8px] px-3 py-[17px] text-700 font-[Figtree] font-semibold text-[#052B6B]">
        Get Directions
      </button>
    </div>
  </div>
</div>
 
</div>
 
</div>
 
 
 