        <div class="relative "> 
            <div class="">
                <img src="Logoes/motab_bg.jpg" alt="" class="h-[710px]   w-full">
            </div>  

        <div class="flex justify-end  ">

            <div class="lg:w-[649px]   absolute top-0"> 
                <img src="Logoes/Star4.png" alt="star image" class="  ml-[110px] ">
                <div>
                    <div>
                        <img src="Logoes/motabilityscheme.png" alt="motability"
                            class="absolute top-8 left-[40%]  "> 
                    </div>
                    <div class="absolute top-[130px]  leading-[60px] left-[40%]">
                        <p class="text-[56px] text-white font-bold ">Great value <br /> for money</p>
                    </div>
                    <div class="absolute top-[275px] left-[40%]">
                        <p class=" text-white text-[15px] ">The Car leasing package that keeps you moving
                        </p>

                    </div>
                    <div class="absolute top-[320px] left-[40%]">
                        <p class="text-[15px] text-white ">Learn more ></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    


    




    
